@{
    ViewBag.ListMenu = true;
}
@if (ViewBag.BreadScrumb != "")
{
<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
            @Html.Raw(ViewBag.BreadScrumb)
    </ul>
</div>
}