<a data-toggle="dropdown" href="#" class="dropdown-toggle" id="user_info">
    <img class="nav-user-photo" src="~/assets/avatars/avatar2.png" alt="Jason's Photo" />
    <span class="user-info">
        <small>Xin chào </small>
        @ViewBag.FullName
    </span>

    <i class="ace-icon fa fa-caret-down"></i>
</a>
