<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>OZO - TIN CHÍNH CHỦ</title>
    <meta name="description" content="Cung cấp thông tin BẤT ĐỘNG SẢN CHÍNH CHỦ | Hotline: 0982.66.77.00">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" href="assets/landingpagev4/images/apple-touch-icon.png">
    <link rel="shortcut icon" type="image/ico" href="assets/landingpagev4/images/favicon.ico" />

    <!-- Plugin-CSS -->
    <link rel="stylesheet" href="assets/landingpagev4/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/landingpagev4/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/landingpagev4/css/themify-icons.css">
    <link rel="stylesheet" href="assets/landingpagev4/css/animate.css">
    <link rel="stylesheet" href="assets/landingpagev4/css/magnific-popup.css">

		
    <!-- Main-Stylesheets -->
    <link rel="stylesheet" href="assets/landingpagev4/css/space.css">
    <link rel="stylesheet" href="assets/landingpagev4/css/theme.css">
    <link rel="stylesheet" href="assets/landingpagev4/css/overright.css">
    <link rel="stylesheet" href="assets/landingpagev4/css/normalize.css">
    <link rel="stylesheet" href="assets/landingpagev4/css/style.css">
    <link rel="stylesheet" href="assets/landingpagev4/css/responsive.css">
    <script src="assets/landingpagev4/js/vendor/modernizr-2.8.3.min.js"></script>
	<script type="text/javascript" src="assets/landingpagev4/js/jquery.min.js"></script>
	<script src="assets/landingpagev4/js/jssor.slider.min.js" type="text/javascript"></script>
	
	
	
	 
</head>

<body data-spy="scroll" data-target="#mainmenu" data-offset="50">
  
   <div class="preloade">
        <!--<span><i class="ti-mobile"></i></span>-->
    </div>

    <!--Header-Area-->
    <header class="blue-bg relative fix" id="home">
        <div class="section-bg overlay-bg dewo ripple"></div>
        <!--Mainmenu-->
        <nav class="navbar navbar-default mainmenu-area navbar-fixed-top" data-spy="affix" data-offset-top="60">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" data-toggle="collapse" class="navbar-toggle" data-target="#mainmenu">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand">
                        <!--<img src="assets/landingpagev4/images/logo.png" alt="OZO - TIN CHÍNH CHỦ">-->
                        <h2 class="text-white logo-text">OZO</h2>
                    </a>
                </div>
                <div class="collapse navbar-collapse navbar-right" id="mainmenu">
                    <ul class="nav navbar-nav">
                        
						<li><a href="http://ozo.vn/Account/Login">Đăng nhập</a></li>
                        <li><a href="http://ozo.vn/Account/Create">Đăng ký</a></li>
						<li><a href="http://ozo.vn/huong-dan/">Hướng dẫn</a></li>
						<li><a href="#bao-gia">Báo giá</a></li>
						<li><a href="#thanh-toan">Thanh toán</a></li>
						<li><a href="#lien-he">Liên hệ</a></li>
						
						<!--<li><a href="#tai-sao-chon">Tại sao chọn?</a></li>
						<li><a href="#tinh-nang">Tính năng</a></li>
						<li><a href="#cvideo">Video</a></li>
						<li><a href="#hinh-anh">Hình ảnh</a></li>
                        <li><a href="#thanh-vien">Thành viên</a></li>
                        <li><a href="#nhan-xet">Nhận xét</a></li>
						<li><a href="#tai-app">Tải APP</a></li>
                        <li><a href="#huong-dan">Hướng dẫn</a></li>
						<li><a href="#cskh">Trợ giúp</a></li>-->
						
                    </ul>
                </div>
            </div>
        </nav>
       <!--Mainmenu/-->
        <div class="space-100"></div>
        <div class="space-20 hidden-xs"></div>
         <!--Header-Text-->
        <div class="container text-white">
            <div class="row">
                <div class="col-xs-12 col-md-8">
				<h2>Thông báo <h2>
				<h3>OZO.VN Thu phí xem tin chính chủ bắt đầu từ ngày 07/07/2017, rất mong nhận được sự ủng hộ của quý khách hàng.</h3><h2> Hotline: <a href="tel:0982667700">0982.66.77.00</h2>Tất cả những TK đã hết hạn xin vui lòng liên hệ để gia hạn miễn phí hết ngày 06/07/2017.
		
		<!--<img src="assets/landingpagev4/images/qc.png" alt="">
                    		<h3>OZO.VN tiếp tục gia hạn để khách hàng xem tin chính chủ miễn phí, áp dụng với tất cả những TK đăng ký mới và những tài khoản đã sử dụng, Xin vui lòng liên hệ với chúng tôi để được trợ giúp ! Hotline: 0982.66.77.00</h3>-->
		             <div class="space-10"></div>
                    <div class="fb-comments" data-href="https://www.facebook.com/ozo.tinchinhchu" data-width="700" data-numposts="5"></div>
                    <div class="space-50"></div>
                    <!--<a href="https://www.youtube.com/watch?v=u2ZxGu9Wa8g" class="btn btn-icon video-popup"><span class="ti-control-play"></span>Watch Video</a>-->
                </div>
                <div class="hidden-xs hidden-sm col-md-4">
                    <div class="home_screen_slide">
                        <div class="single_screen_slide wow fadeInRight">
                            <div class="item"><img src="assets/landingpagev4/images/screen/screen1.png" alt=""></div>
                            <div class="item"><img src="assets/landingpagev4/images/screen/screen2.png" alt=""></div>
                            <div class="item"><img src="assets/landingpagev4/images/screen/screen3.png" alt=""></div>
                            <div class="item"><img src="assets/landingpagev4/images/screen/screen4.png" alt=""></div>
                            <div class="item"><img src="assets/landingpagev4/images/screen/screen5.png" alt=""></div>
                        </div>
                    </div>
                    <!--<div class="home_screen_nav">
                        <span class="ti-angle-left testi_prev"></span>
                        <span class="ti-angle-right testi_next"></span>
                    </div>-->
                </div>
            </div>
            <div class="space-80"></div>
        </div>
        <!--Header-Text/-->
       <!-- #region Jssor Slider Begin -->
       <!-- <script type="text/javascript">
        jssor_1_slider_init = function() {
             var jssor_1_SlideshowTransitions = [
              {$Duration:1000,$Delay:80,$Cols:8,$Rows:4,$Clip:15,$SlideOut:true,$Easing:$Jease$.$OutQuad},
              {$Duration:1200,y:0.3,$Cols:2,$During:{$Top:[0.3,0.7]},$ChessMode:{$Column:12},$Easing:{$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
              {$Duration:1000,x:-1,y:2,$Rows:2,$Zoom:11,$Rotate:1,$SlideOut:true,$Assembly:2049,$ChessMode:{$Row:15},$Easing:{$Left:$Jease$.$InExpo,$Top:$Jease$.$InExpo,$Zoom:$Jease$.$InExpo,$Opacity:$Jease$.$Linear,$Rotate:$Jease$.$InExpo},$Opacity:2,$Round:{$Rotate:0.85}},
              {$Duration:1200,x:4,$Cols:2,$Zoom:11,$SlideOut:true,$Assembly:2049,$ChessMode:{$Column:15},$Easing:{$Left:$Jease$.$InExpo,$Zoom:$Jease$.$InExpo,$Opacity:$Jease$.$Linear},$Opacity:2},
              {$Duration:1000,x:4,y:-4,$Zoom:11,$Rotate:1,$SlideOut:true,$Easing:{$Left:$Jease$.$InExpo,$Top:$Jease$.$InExpo,$Zoom:$Jease$.$InExpo,$Opacity:$Jease$.$Linear,$Rotate:$Jease$.$InExpo},$Opacity:2,$Round:{$Rotate:0.8}},
              {$Duration:1500,x:0.3,y:-0.3,$Delay:80,$Cols:8,$Rows:4,$Clip:15,$During:{$Left:[0.3,0.7],$Top:[0.3,0.7]},$Easing:{$Left:$Jease$.$InJump,$Top:$Jease$.$InJump,$Clip:$Jease$.$OutQuad},$Round:{$Left:0.8,$Top:2.5}},
              {$Duration:1000,x:-3,y:1,$Rows:2,$Zoom:11,$Rotate:1,$SlideOut:true,$Assembly:2049,$ChessMode:{$Row:28},$Easing:{$Left:$Jease$.$InExpo,$Top:$Jease$.$InExpo,$Zoom:$Jease$.$InExpo,$Opacity:$Jease$.$Linear,$Rotate:$Jease$.$InExpo},$Opacity:2,$Round:{$Rotate:0.7}},
              {$Duration:1200,y:-1,$Cols:8,$Rows:4,$Clip:15,$During:{$Top:[0.5,0.5],$Clip:[0,0.5]},$Formation:$JssorSlideshowFormations$.$FormationStraight,$ChessMode:{$Column:12},$ScaleClip:0.5},
              {$Duration:1000,x:0.5,y:0.5,$Zoom:1,$Rotate:1,$SlideOut:true,$Easing:{$Left:$Jease$.$InCubic,$Top:$Jease$.$InCubic,$Zoom:$Jease$.$InCubic,$Opacity:$Jease$.$Linear,$Rotate:$Jease$.$InCubic},$Opacity:2,$Round:{$Rotate:0.5}},
              {$Duration:1200,x:-0.6,y:-0.6,$Zoom:1,$Rotate:1,$During:{$Left:[0.2,0.8],$Top:[0.2,0.8],$Zoom:[0.2,0.8],$Rotate:[0.2,0.8]},$Easing:{$Zoom:$Jease$.$Swing,$Opacity:$Jease$.$Linear,$Rotate:$Jease$.$Swing},$Opacity:2,$Round:{$Rotate:0.5}},
              {$Duration:1500,y:-0.5,$Delay:60,$Cols:15,$SlideOut:true,$Formation:$JssorSlideshowFormations$.$FormationCircle,$Easing:$Jease$.$InWave,$Round:{$Top:1.5}},
              {$Duration:1000,$Delay:30,$Cols:8,$Rows:4,$Clip:15,$Formation:$JssorSlideshowFormations$.$FormationStraightStairs,$Assembly:2050,$Easing:$Jease$.$InQuad},
              {$Duration:1200,$Delay:20,$Clip:3,$SlideOut:true,$Assembly:260,$Easing:{$Clip:$Jease$.$OutCubic,$Opacity:$Jease$.$Linear},$Opacity:2}
            ];

            //Reference http://www.jssor.com/help/layer-animation.html
            var jssor_1_SlideoTransitions = [
              [{b:-1,d:1,o:-1},{b:0,d:1200,y:300,o:1,e:{y:24,o:6}},{b:5600,d:800,y:-200,o:-1,e:{y:5}}],
              [{b:-1,d:1,o:-1},{b:400,d:800,x:200,o:1,e:{x:27,o:6}},{b:5600,d:800,x:-200,o:-1,e:{x:5}}],
              [{b:-1,d:1,o:-1},{b:400,d:800,x:-200,o:1,e:{x:27,o:6}},{b:5600,d:800,x:200,o:-1,e:{x:5}}],
              [{b:-1,d:1,o:-1},{b:1600,d:600,x:200,y:-200,o:1,e:{x:3,y:3}},{b:5600,d:800,o:-1}],
              [{b:4600,d:960,x:-204,e:{x:1}}],
              [{b:-1,d:1,sX:-1,sY:-1},{b:3400,d:400,sX:1,sY:1},{b:3800,d:300,o:-1,sX:0.1,sY:0.1}],
              [{b:-1,d:1,sX:-1,sY:-1},{b:3520,d:400,sX:1,sY:1},{b:3920,d:300,o:-1,sX:0.1,sY:0.1}],
              [{b:-1,d:1,o:-1},{b:2200,d:1200,x:-135,y:-24,o:1,e:{x:7,y:7}},{b:4600,d:640,x:-130,e:{x:1}}],
              [{b:-1,d:1,o:-1},{b:4600,d:240,x:-75,o:1},{b:4840,d:480,x:-150},{b:5320,d:240,x:-75,o:-1}],
              [{b:2800,d:600,y:70,sX:-0.5,sY:-0.5,e:{y:5}},{b:6000,d:600,y:50,r:-10},{b:7000,d:400,o:-1,rX:10,rY:-10}],
              [{b:0,d:600,x:-742,sX:4,sY:4,e:{x:6}},{b:900,d:600,sX:-4,sY:-4}],
              [{b:-1,d:1,o:-1},{b:400,d:500,o:1,e:{o:5}}],
              [{b:-1,d:1,o:-1,r:-180},{b:1500,d:500,o:1,r:180,e:{r:27}}],
              [{b:-1,d:1,o:-1,r:180},{b:2000,d:500,o:1,r:-180,e:{r:27}}],
              [{b:2800,d:600,y:-270,e:{y:6}}],
              [{b:6000,d:600,y:-100,r:-10,e:{y:6}},{b:7000,d:400,o:-1,rX:-10,rY:10}],
              [{b:-1,d:1,sX:-1,sY:-1},{b:3400,d:400,sX:1.33,sY:1.33,e:{sX:7,sY:7}},{b:3800,d:200,sX:-0.33,sY:-0.33,e:{sX:16,sY:16}}],
              [{b:-1,d:1,o:-1},{b:3400,d:600,o:1},{b:4000,d:1000,r:360,e:{r:1}}],
              [{b:-1,d:1,o:-1},{b:3400,d:600,y:-70,o:1,e:{y:27}}],
              [{b:-1,d:1,sX:-1,sY:-1},{b:3700,d:400,sX:1.33,sY:1.33,e:{sX:7,sY:7}},{b:4100,d:200,sX:-0.33,sY:-0.33,e:{sX:16,sY:16}}],
              [{b:-1,d:1,o:-1},{b:3700,d:600,o:1},{b:4300,d:1000,r:360}],
              [{b:-1,d:1,o:-1},{b:3700,d:600,x:-150,o:1,e:{x:27}}],
              [{b:-1,d:1,sX:-1,sY:-1},{b:4000,d:400,sX:1.33,sY:1.33,e:{sX:7,sY:7}},{b:4400,d:200,sX:-0.33,sY:-0.33,e:{sX:16,sY:16}}],
              [{b:-1,d:1,o:-1},{b:4000,d:600,o:1},{b:4600,d:1000,r:360}],
              [{b:-1,d:1,o:-1},{b:4000,d:600,x:150,o:1,e:{x:27}}],
              [{b:9300,d:600,o:-1,r:540,sX:-0.5,sY:-0.5,e:{r:5}}],
              [{b:-1,d:1,o:-1,sX:2,sY:2},{b:6880,d:20,o:1},{b:6900,d:300,sX:-2.08,sY:-2.08,e:{sX:27,sY:27}},{b:7200,d:240,sX:0.08,sY:0.08}],
              [{b:-1,d:1,o:-1,sX:5,sY:5},{b:6300,d:600,o:1,sX:-5,sY:-5}],
              [{b:-1,d:1,o:-1},{b:7200,d:440,o:1}],
              [{b:-1,d:1,o:-1,sX:-0.9,sY:-0.9},{b:7420,d:20,o:1},{b:7440,d:200,r:180,sX:0.4,sY:0.4},{b:7640,d:200,r:180,sX:0.5,sY:0.5}],
              [{b:-1,d:1,o:-1,r:-60,sX:-0.9,sY:-0.9},{b:7620,d:20,o:1},{b:7640,d:300,r:60,sX:1.1,sY:1.1},{b:7940,d:160,sX:-0.2,sY:-0.2}],
              [{b:-1,d:1,o:-1,sX:-0.9,sY:-0.9},{b:7920,d:20,o:1},{b:7940,d:300,sX:1.4,sY:1.4},{b:8240,d:160,sX:-0.5,sY:-0.5}],
              [{b:-1,d:1,o:-1,sX:-0.9,sY:-0.9},{b:7620,d:20,o:1},{b:7640,d:200,r:180,sX:0.4,sY:0.4},{b:7840,d:200,r:180,sX:0.5,sY:0.5}],
              [{b:-1,d:1,o:-1,r:-60,sX:-0.9,sY:-0.9},{b:7820,d:20,o:1},{b:7840,d:300,r:60,sX:1.1,sY:1.1},{b:8140,d:160,sX:-0.2,sY:-0.2}],
              [{b:-1,d:1,o:-1,sX:-0.9,sY:-0.9},{b:8120,d:20,o:1},{b:8140,d:300,sX:1.4,sY:1.4},{b:8440,d:160,sX:-0.5,sY:-0.5}],
              [{b:-1,d:1,o:-1,sX:-0.9,sY:-0.9},{b:7820,d:20,o:1},{b:7840,d:200,r:180,sX:0.4,sY:0.4},{b:8040,d:200,r:180,sX:0.5,sY:0.5}],
              [{b:-1,d:1,o:-1,r:-60,sX:-0.9,sY:-0.9},{b:8020,d:20,o:1},{b:8040,d:300,r:60,sX:1.1,sY:1.1},{b:8340,d:160,sX:-0.2,sY:-0.2}],
              [{b:-1,d:1,o:-1,sX:-0.9,sY:-0.9},{b:8320,d:20,o:1},{b:8340,d:300,sX:1.4,sY:1.4},{b:8640,d:160,sX:-0.5,sY:-0.5}],
              [{b:-1,d:1,o:-1,sX:-0.9,sY:-0.9},{b:8020,d:20,o:1},{b:8040,d:200,r:180,sX:0.4,sY:0.4},{b:8240,d:200,r:180,sX:0.5,sY:0.5}],
              [{b:-1,d:1,o:-1,r:-60,sX:-0.9,sY:-0.9},{b:8220,d:20,o:1},{b:8240,d:300,r:60,sX:1.1,sY:1.1},{b:8540,d:160,sX:-0.2,sY:-0.2}],
              [{b:-1,d:1,o:-1,sX:-0.9,sY:-0.9},{b:8520,d:20,o:1},{b:8540,d:300,sX:1.4,sY:1.4},{b:8840,d:160,sX:-0.5,sY:-0.5}],
              [{b:-1,d:1,o:-1,sX:-0.9,sY:-0.9},{b:8220,d:20,o:1},{b:8240,d:200,r:180,sX:0.4,sY:0.4},{b:8440,d:200,r:180,sX:0.5,sY:0.5}],
              [{b:-1,d:1,o:-1,r:-60,sX:-0.9,sY:-0.9},{b:8420,d:20,o:1},{b:8440,d:300,r:60,sX:1.1,sY:1.1},{b:8740,d:160,sX:-0.2,sY:-0.2}],
              [{b:-1,d:1,o:-1,sX:-0.9,sY:-0.9},{b:8720,d:20,o:1},{b:8740,d:300,sX:1.4,sY:1.4},{b:9040,d:160,sX:-0.5,sY:-0.5}],
              [{b:-1,d:1,o:-1,sX:-0.9,sY:-0.9},{b:8220,d:20,o:1},{b:8240,d:200,r:180,sX:0.4,sY:0.4},{b:8440,d:200,r:180,sX:0.5,sY:0.5}],
              [{b:-1,d:1,o:-1,r:-60,sX:-0.9,sY:-0.9},{b:8420,d:20,o:1},{b:8440,d:300,r:60,sX:1.1,sY:1.1},{b:8740,d:160,sX:-0.2,sY:-0.2}],
              [{b:-1,d:1,o:-1,sX:-0.9,sY:-0.9},{b:8720,d:20,o:1},{b:8740,d:300,sX:1.4,sY:1.4},{b:9040,d:160,sX:-0.5,sY:-0.5}],
              [{b:-1,d:1,sX:-0.2,sY:-0.2},{b:0,d:400,y:330,e:{y:1}},{b:900,d:400,y:50,rX:80,e:{y:1,rX:1}},{b:20700,d:1000,y:-95,rX:-80,sX:0.2,sY:0.2,e:{y:16,rX:16,sX:16,sY:16}},{b:22700,d:900,y:25,o:-1,rX:60}],
              [{b:-1,d:1,o:-0.5},{b:900,d:400,o:-0.5}],
              [{b:-1,d:1,sX:-0.2,sY:-0.2},{b:1700,d:400,y:310,e:{y:1}},{b:2600,d:400,y:50,rX:80,e:{y:1,rX:1}},{b:19700,d:1000,y:20,e:{y:1}},{b:20700,d:1000,y:-95,rX:-80,sX:0.2,sY:0.2,e:{y:16,rX:16,sX:16,sY:16}},{b:22700,d:900,y:25,o:-1,rX:60}],
              [{b:19700,d:1000,o:-1}],
              [{b:-1,d:1,o:-0.5},{b:2600,d:400,o:-0.5}],
              [{b:-1,d:1,sX:-0.2,sY:-0.2},{b:3400,d:400,y:290,e:{y:1}},{b:4800,d:400,y:50,rX:80,e:{y:1,rX:1}},{b:19700,d:1000,y:40,e:{y:1}},{b:20700,d:1000,y:-95,rX:-80,sX:0.2,sY:0.2,e:{y:16,rX:16,sX:16,sY:16}},{b:22700,d:900,y:25,o:-1,rX:60}],
              [{b:19700,d:1000,o:-1}],
              [{b:-1,d:1,c:{t:-280}},{b:3800,d:60,c:{t:50.40},e:{c:{t:18}}},{b:3860,d:60,c:{t:33.60}},{b:3920,d:60,c:{t:30.80}},{b:3980,d:60,c:{t:30.80}},{b:4040,d:60,c:{t:33.60}},{b:4100,d:60,c:{t:22.40}},{b:4160,d:60,c:{t:28.00}},{b:4220,d:60,c:{t:50.40}}],
              [{b:-1,d:1,o:-0.5},{b:4800,d:400,o:-0.5}],
              [{b:-1,d:1,sX:-0.2,sY:-0.2},{b:5700,d:400,y:270,e:{y:1}},{b:6600,d:400,y:50,rX:40,e:{y:1,rX:1}},{b:14700,d:500,rX:40,e:{rX:1}},{b:19700,d:1000,y:60,e:{y:1}},{b:20700,d:1000,y:-95,rX:-80,sX:0.2,sY:0.2,e:{y:16,rX:16,sX:16,sY:16}},{b:22700,d:900,y:25,o:-1,rX:60}],
              [{b:19700,d:1000,o:-1}],
              [{b:6600,d:400,o:-0.2},{b:14700,d:500,o:-0.8}],
              [{b:-1,d:1,o:-0.5},{b:14700,d:500,o:-0.5}],
              [{b:-1,d:1,sX:-0.2,sY:-0.2},{b:7500,d:400,y:270,e:{y:1}},{b:8400,d:400,y:50,rX:40,e:{y:1,rX:1}},{b:14700,d:500,rX:40,e:{rX:1}},{b:19700,d:1000,y:60,e:{y:1}},{b:20700,d:1000,y:-95,rX:-80,sX:0.2,sY:0.2,e:{y:16,rX:16,sX:16,sY:16}},{b:22700,d:900,y:25,o:-1,rX:60}],
              [{b:8400,d:400,o:-1}],
              [{b:-1,d:1,o:-0.5},{b:8400,d:400,o:-0.5}],
              [{b:-1,d:1,sX:-0.2,sY:-0.2},{b:9300,d:400,y:270,e:{y:1}},{b:10200,d:400,y:50,rX:40,e:{y:1}},{b:14700,d:500,rX:40,e:{rX:1}},{b:19700,d:1000,y:60,e:{y:1}},{b:20700,d:1000,y:-95,rX:-80,sX:0.2,sY:0.2,e:{y:16,rX:16,sX:16,sY:16}},{b:22700,d:900,y:25,o:-1,rX:60}],
              [{b:10200,d:400,o:-1}],
              [{b:-1,d:1,o:-0.5},{b:10200,d:400,o:-0.5}],
              [{b:-1,d:1,sX:-0.2,sY:-0.2},{b:11100,d:400,y:270,e:{y:1}},{b:12000,d:400,y:50,rX:40,e:{y:1,rX:1}},{b:14700,d:500,rX:40,e:{rX:1}},{b:19700,d:1000,y:60,e:{y:1}},{b:20700,d:1000,y:-95,rX:-80,sX:0.2,sY:0.2,e:{y:16,rX:16,sX:16,sY:16}},{b:22700,d:900,y:25,o:-1,rX:60}],
              [{b:12000,d:400,o:-1}],
              [{b:-1,d:1,o:-0.5},{b:12000,d:400,o:-0.5}],
              [{b:-1,d:1,sX:-0.2,sY:-0.2},{b:12900,d:400,y:270,e:{y:1}},{b:13800,d:400,y:50,rX:40,e:{y:1,rX:1}},{b:14700,d:500,rX:40,e:{rX:1}},{b:19700,d:1000,y:60,e:{y:1}},{b:20700,d:1000,y:-95,rX:-80,sX:0.2,sY:0.2,e:{y:16,rX:16,sX:16,sY:16}},{b:22700,d:900,y:25,o:-1,rX:60}],
              [{b:13800,d:400,o:-1}],
              [{b:-1,d:1,o:-0.5},{b:13800,d:400,o:-0.5}],
              [{b:-1,d:1,sX:-0.2,sY:-0.2},{b:15700,d:400,y:270,e:{y:1}},{b:18800,d:400,y:30,rX:80,e:{y:1,rX:1}},{b:19700,d:1000,y:80,e:{y:1}},{b:20700,d:1000,y:-95,rX:-80,sX:0.2,sY:0.2,e:{y:16,rX:16,sX:16,sY:16}},{b:22700,d:900,y:25,o:-1,rX:60}],
              [{b:19700,d:1000,o:-1}],
              [{b:-1,d:1,o:-0.5},{b:18800,d:400,o:-0.5}],
              [{b:-1,d:1,o:-1},{b:16100,d:300,o:1},{b:16400,d:500,x:-238,e:{x:6}}],
              [{b:-1,d:1,o:-1},{b:16100,d:300,o:1},{b:16400,d:500,x:238,e:{x:6}}],
              [{b:-1,d:1,o:-1},{b:16700,d:400,y:200,o:1,e:{y:2,o:6}},{b:17100,d:300,y:-28,e:{y:3}},{b:17400,d:300,y:28,e:{y:2}}],
              [{b:-1,d:1,o:-1},{b:16900,d:400,y:200,o:1,e:{y:2,o:6}},{b:17300,d:300,y:-28,e:{y:3}},{b:17600,d:300,y:28,e:{y:2}}],
              [{b:-1,d:1,o:-1},{b:17100,d:400,y:200,o:1,e:{y:2,o:6}},{b:17500,d:300,y:-28,e:{y:3}},{b:17800,d:300,y:28,e:{y:2}}],
              [{b:-1,d:1,o:-1},{b:17300,d:400,y:200,o:1,e:{y:2,o:6}},{b:17700,d:300,y:-28,e:{y:3}},{b:18000,d:300,y:28,e:{y:2}}]
            ];

            var jssor_1_options = {
              $AutoPlay: 1,
              $SlideDuration: 800,
              $SlideEasing: $Jease$.$OutQuint,
              $SlideshowOptions: {
                $Class: $JssorSlideshowRunner$,
                $Transitions: jssor_1_SlideshowTransitions,
                $TransitionsOrder: 1
              },
              $CaptionSliderOptions: {
                $Class: $JssorCaptionSlideo$,
                $Transitions: jssor_1_SlideoTransitions,
                $Breaks: [
                  [{d:2000,b:5600,t:2}],
                  [{d:2000,b:9300,t:2}],
                  [{d:2000,b:22700}]
                ]
              },
              $ArrowNavigatorOptions: {
                $Class: $JssorArrowNavigator$
              },
              $BulletNavigatorOptions: {
                $Class: $JssorBulletNavigator$
              }
            };

            var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);

            /*responsive code begin*/
            /*you can remove responsive code if you don't want the slider scales while window resizing*/
            function ScaleSlider() {
                var refSize = jssor_1_slider.$Elmt.parentNode.clientWidth;
                if (refSize) {
                    refSize = Math.min(refSize, 1500);
                    jssor_1_slider.$ScaleWidth(refSize);
                }
                else {
                    window.setTimeout(ScaleSlider, 30);
                }
            }
            ScaleSlider();
            $Jssor$.$AddEvent(window, "load", ScaleSlider);
            $Jssor$.$AddEvent(window, "resize", ScaleSlider);
            $Jssor$.$AddEvent(window, "orientationchange", ScaleSlider);
            /*responsive code end*/
        };
    </script>
    <style>
        /* jssor slider bullet navigator skin 05 css */
        /*
        .jssorb05 div           (normal)
        .jssorb05 div:hover     (normal mouseover)
        .jssorb05 .av           (active)
        .jssorb05 .av:hover     (active mouseover)
        .jssorb05 .dn           (mousedown)
        */
        .jssorb05 {
            position: absolute;
        }
        .jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
            position: absolute;
            /* size of bullet elment */
            width: 16px;
            height: 16px;
            background: url('assets/landingpagev4/img/b05.png') no-repeat;
            overflow: hidden;
            cursor: pointer;
        }
        .jssorb05 div { background-position: -7px -7px; }
        .jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
        .jssorb05 .av { background-position: -67px -7px; }
        .jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }

        /* jssor slider arrow navigator skin 22 css */
        /*
        .jssora22l                  (normal)
        .jssora22r                  (normal)
        .jssora22l:hover            (normal mouseover)
        .jssora22r:hover            (normal mouseover)
        .jssora22l.jssora22ldn      (mousedown)
        .jssora22r.jssora22rdn      (mousedown)
        .jssora22l.jssora22lds      (disabled)
        .jssora22r.jssora22rds      (disabled)
        */
        /* .jssora22l, .jssora22r {
            display: block;
            position: absolute;
            /* size of arrow element */
            width: 40px;
            height: 58px;
            cursor: pointer;
            background: url('assets/landingpagev4/img/a22.png') center center no-repeat;
            overflow: hidden;*/
        }
        .jssora22l { background-position: -10px -31px; }
        .jssora22r { background-position: -70px -31px; }
        .jssora22l:hover { background-position: -130px -31px; }
        .jssora22r:hover { background-position: -190px -31px; }
        .jssora22l.jssora22ldn { background-position: -250px -31px; }
        .jssora22r.jssora22rdn { background-position: -310px -31px; }
        .jssora22l.jssora22lds { background-position: -10px -31px; opacity: .3; pointer-events: none; }
        .jssora22r.jssora22rds { background-position: -70px -31px; opacity: .3; pointer-events: none; }
    </style>
    <div id="jssor_1" style="position:relative;margin:0 auto;top:0px;left:0px;width:980px;height:460px;overflow:hidden;visibility:hidden;">
        <!-- Loading Screen -->
        <!--  <div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
            <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
            <div style="position:absolute;display:block;background:url('assets/landingpagev4/img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
        </div>
        <div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:980px;height:460px;overflow:hidden;">
            <div data-b="0">
                <img data-u="image" src="assets/landingpagev4/img/present/04.jpg" />
                <div style="position:absolute;top:107px;left:460px;width:460px;height:210px;z-index:0;">
                    <img data-u="caption" data-t="0" style="position:absolute;top:-300px;left:89px;width:210px;height:178px;z-index:0;" src="assets/landingpagev4/img/present/02/mock-pc.png" />
                    <img data-u="caption" data-t="1" style="position:absolute;top:55px;left:-200px;width:114px;height:144px;z-index:0;" src="assets/landingpagev4/img/present/02/mock-ipad.png" />
                    <img data-u="caption" data-t="2" style="position:absolute;top:88px;left:420px;width:219px;height:120px;z-index:0;" src="assets/landingpagev4/img/present/02/iphone7.png" />
                </div>
                <div data-u="caption" data-t="3" data-to="0% 100%" style="position:absolute;top:385px;left:-100px;width:257px;height:127px;z-index:0;">
                    <div style="position:absolute;top:4px;left:34px;width:198px;height:112px;z-index:0; overflow:hidden;">
                       
                    </div>
                    <img style="position:absolute;top:-65px;left:0px;width:321px;height:220px;z-index:0;" src="assets/landingpagev4/img/present/02/mock-phone.png" />
                    <img data-u="caption" data-t="5" style="position:absolute;top:22px;left:139px;width:108px;height:108px;z-index:0;" src="assets/landingpagev4/img/present/02/circle-hollow.png" />
                    <img data-u="caption" data-t="6" style="position:absolute;top:31px;left:148px;width:90px;height:90px;z-index:0;" src="assets/landingpagev4/img/present/02/circle-solid.png" />
                    <img data-u="caption" data-t="7" style="position:absolute;top:100px;left:320px;width:23px;height:37px;z-index:0;" src="assets/landingpagev4/img/present/02/hand.png" />
                   
                </div>
                
            </div>
            <div data-b="1" data-p="170.00">
                <img data-u="image" src="assets/landingpagev4/img/present/02.jpg" />
                <div data-u="caption" data-t="9" data-3d="1" style="position:absolute;top:150px;left:-36px;width:1053px;height:150px;z-index:0;">
                    <div data-u="caption" data-t="10" data-to="100% 50%" style="position:absolute;top:0px;left:1030px;width:72px;height:72px;z-index:0;background-color:#eb9434;">
                        <div data-u="caption" data-t="11" style="position:absolute;top:0px;left:0px;width:72px;height:72px;z-index:0;font-size:46px;color:#ffffff;line-height:72px;text-align:center;">All

                        </div>
                    </div>
                    <div data-u="caption" data-t="12" data-to="0% 50%" style="position:absolute;top:0px;left:360px;width:175px;height:72px;z-index:0;background-color:#eb9434;font-size:45px;color:#ffffff;line-height:72px;text-align:center;">Devices

                    </div>
                    <div data-u="caption" data-t="13" data-to="0% 50%" style="position:absolute;top:0px;left:535px;width:230px;height:72px;z-index:0;background-color:#eb9434;font-size:45px;color:#ffffff;line-height:72px;text-align:center;">Supported

                    </div>
                    <div data-u="caption" data-t="14" style="position:absolute;top:360px;left:238px;width:577px;height:30px;z-index:0;font-size:24px;color:#ffffff;line-height:30px;text-align:center;">OZO tương thích trên nhiều hệ điều hành</div>
                </div>
                <div data-u="caption" data-t="15" data-3d="1" style="position:absolute;top:70px;left:182px;width:616px;height:150px;z-index:0;">
                    <img data-u="caption" data-t="16" style="position:absolute;top:22px;left:266px;width:84px;height:84px;z-index:0;" src="assets/landingpagev4/img/present/03/ios.png" />
                    <img data-u="caption" data-t="17" style="position:absolute;top:16px;left:260px;width:96px;height:96px;z-index:0;" src="assets/landingpagev4/img/present/03/circle.png" />
                    <div data-u="caption" data-t="18" style="position:absolute;top:195px;left:260px;width:96px;height:30px;z-index:0;font-size:18px;color:#ffffff;line-height:30px;text-align:center;">IOS</div>
                    <img data-u="caption" data-t="19" style="position:absolute;top:22px;left:22px;width:84px;height:84px;z-index:0;" src="assets/landingpagev4/img/present/03/android.png" />
                    <img data-u="caption" data-t="20" style="position:absolute;top:16px;left:16px;width:96px;height:96px;z-index:0;" src="assets/landingpagev4/img/present/03/circle.png" />
                    <div data-u="caption" data-t="21" style="position:absolute;top:125px;left:166px;width:96px;height:30px;z-index:0;font-size:18px;color:#ffffff;line-height:30px;text-align:center;">Android</div>
                    <img data-u="caption" data-t="22" style="position:absolute;top:22px;left:510px;width:84px;height:84px;z-index:0;" src="assets/landingpagev4/img/present/03/windows.png" />
                    <img data-u="caption" data-t="23" style="position:absolute;top:16px;left:504px;width:96px;height:96px;z-index:0;" src="assets/landingpagev4/img/present/03/circle.png" />
                    <div data-u="caption" data-t="24" style="position:absolute;top:125px;left:354px;width:96px;height:30px;z-index:0;font-size:18px;color:#ffffff;line-height:30px;text-align:center;">Windows</div>
                </div>
                <div style="position:absolute;top:20px;left:327px;width:336px;height:312px;z-index:0;">
                    <div data-u="caption" data-t="25" style="position:absolute;top:82px;left:104px;width:128px;height:147px;z-index:0;">
                        <img data-u="caption" data-t="26" style="position:absolute;top:0px;left:0px;width:128px;height:147px;z-index:0;" src="assets/landingpagev4/img/present/03/hexagon-hollow-big.png" />
                        <img data-u="caption" data-t="27" style="position:absolute;top:9px;left:8px;width:112px;height:129px;z-index:0;" src="assets/landingpagev4/img/present/03/hexagon-solid-yellow.png" />
                        <div data-u="caption" data-t="28" style="position:absolute;top:20px;left:0px;width:128px;height:90px;z-index:0;font-size:20px;line-height:30px;text-align:center;">All
<br />
                            Browsers
<br />
                            Supported
                        </div>
                    </div>
                    <div style="position:absolute;top:0px;left:187px;width:90px;height:104px;z-index:0;">
                        <img data-u="caption" data-t="29" style="position:absolute;top:0px;left:0px;width:90px;height:104px;z-index:0;" src="assets/landingpagev4/img/present/03/hexagon-hollow.png" />
                        <img data-u="caption" data-t="30" style="position:absolute;top:8px;left:7px;width:76px;height:88px;z-index:0;" src="assets/landingpagev4/img/present/03/hexagon-solid.png" />
                        <img data-u="caption" data-t="31" style="position:absolute;top:33px;left:26px;width:38px;height:38px;z-index:0;" src="assets/landingpagev4/img/present/03/opera.png" />
                    </div>
                    <div style="position:absolute;top:104px;left:246px;width:90px;height:104px;z-index:0;">
                        <img data-u="caption" data-t="32" style="position:absolute;top:0px;left:0px;width:90px;height:104px;z-index:0;" src="assets/landingpagev4/img/present/03/hexagon-hollow.png" />
                        <img data-u="caption" data-t="33" style="position:absolute;top:8px;left:7px;width:76px;height:88px;z-index:0;" src="assets/landingpagev4/img/present/03/hexagon-solid.png" />
                        <img data-u="caption" data-t="34" style="position:absolute;top:33px;left:26px;width:38px;height:38px;z-index:0;" src="assets/landingpagev4/img/present/03/firefox.png" />
                    </div>
                    <div style="position:absolute;top:208px;left:187px;width:90px;height:104px;z-index:0;">
                        <img data-u="caption" data-t="35" style="position:absolute;top:0px;left:0px;width:90px;height:104px;z-index:0;" src="assets/landingpagev4/img/present/03/hexagon-hollow.png" />
                        <img data-u="caption" data-t="36" style="position:absolute;top:8px;left:7px;width:76px;height:88px;z-index:0;" src="assets/landingpagev4/img/present/03/hexagon-solid.png" />
                        <img data-u="caption" data-t="37" style="position:absolute;top:33px;left:26px;width:38px;height:38px;z-index:0;" src="assets/landingpagev4/img/present/03/ie.png" />
                    </div>
                    <div style="position:absolute;top:208px;left:59px;width:90px;height:104px;z-index:0;">
                        <img data-u="caption" data-t="38" style="position:absolute;top:0px;left:0px;width:90px;height:104px;z-index:0;" src="assets/landingpagev4/img/present/03/hexagon-hollow.png" />
                        <img data-u="caption" data-t="39" style="position:absolute;top:8px;left:7px;width:76px;height:88px;z-index:0;" src="assets/landingpagev4/img/present/03/hexagon-solid.png" />
                        <img data-u="caption" data-t="40" style="position:absolute;top:33px;left:26px;width:38px;height:38px;z-index:0;" src="assets/landingpagev4/img/present/03/edge.png" />
                    </div>
                    <div style="position:absolute;top:104px;left:0px;width:90px;height:104px;z-index:0;">
                        <img data-u="caption" data-t="41" style="position:absolute;top:0px;left:0px;width:90px;height:104px;z-index:0;" src="assets/landingpagev4/img/present/03/hexagon-hollow.png" />
                        <img data-u="caption" data-t="42" style="position:absolute;top:8px;left:7px;width:76px;height:88px;z-index:0;" src="assets/landingpagev4/img/present/03/hexagon-solid.png" />
                        <img data-u="caption" data-t="43" style="position:absolute;top:33px;left:26px;width:38px;height:38px;z-index:0;" src="assets/landingpagev4/img/present/03/safari.png" />
                    </div>
                    <div style="position:absolute;top:0px;left:59px;width:90px;height:104px;z-index:0;">
                        <img data-u="caption" data-t="44" style="position:absolute;top:0px;left:0px;width:90px;height:104px;z-index:0;" src="assets/landingpagev4/img/present/03/hexagon-hollow.png" />
                        <img data-u="caption" data-t="45" style="position:absolute;top:8px;left:7px;width:76px;height:88px;z-index:0;" src="assets/landingpagev4/img/present/03/hexagon-solid.png" />
                        <img data-u="caption" data-t="46" style="position:absolute;top:33px;left:28px;width:38px;height:38px;z-index:0;" src="assets/landingpagev4/img/present/03/chrome.png" />
                    </div>
                </div>
            </div>
            <div data-b="2" data-p="816.0">
                <img data-u="image" src="assets/landingpagev4/img/present/01.jpg" />
                <div data-u="caption" data-t="47" data-3d="1" style="position:absolute;top:-210px;left:200px;width:580px;height:225px;z-index:0;">
                    <img style="position:absolute;top:0px;left:0px;width:580px;height:225px;z-index:0;" src="assets/landingpagev4/img/present/01/main.jpg" />
                    <div data-u="caption" data-t="48" style="position:absolute;top:30px;left:30px;width:180px;height:40px;z-index:0;background-color:#000000;font-size:22px;color:#ffffff;line-height:40px;text-align:center;">Main Image</div>
                </div>
                <div data-u="caption" data-t="49" data-3d="1" style="position:absolute;top:-210px;left:200px;width:580px;height:225px;z-index:0;">
                    <img data-u="caption" data-t="50" style="position:absolute;top:0px;left:0px;width:580px;height:225px;z-index:0;" src="assets/landingpagev4/img/present/01/layer-blurred-white.png" />
                    <img style="position:absolute;top:140px;left:170px;width:55px;height:51px;z-index:0;" src="assets/landingpagev4/img/present/01/butterfly-light-yellow.png" />
                    <div data-u="caption" data-t="51" style="position:absolute;top:30px;left:30px;width:180px;height:40px;z-index:0;background-color:#000000;font-size:22px;color:#ffffff;line-height:40px;text-align:center;">Image Layer</div>
                </div>
                <div data-u="caption" data-t="52" data-3d="1" style="position:absolute;top:-210px;left:200px;width:580px;height:225px;z-index:0;">
                    <img data-u="caption" data-t="53" style="position:absolute;top:0px;left:0px;width:580px;height:225px;z-index:0;" src="assets/landingpagev4/img/present/01/layer-blurred-white.png" />
                    <div data-u="caption" data-t="54" style="position:absolute;top:100px;left:30px;width:280px;height:50px;z-index:0;font-size:40px;line-height:50px;text-align:center;">SOME TEXT</div>
                    <div data-u="caption" data-t="55" style="position:absolute;top:30px;left:30px;width:180px;height:40px;z-index:0;background-color:#000000;font-size:22px;color:#ffffff;line-height:40px;text-align:center;">Text layer</div>
                </div>
                <div data-u="caption" data-t="56" data-3d="1" style="position:absolute;top:-210px;left:200px;width:580px;height:225px;z-index:0;">
                    <img data-u="caption" data-t="57" style="position:absolute;top:0px;left:0px;width:580px;height:225px;z-index:0;" src="assets/landingpagev4/img/present/01/layer-blurred-white.png" />
                    <div data-u="caption" data-t="58" style="position:absolute;top:25px;left:240px;width:300px;height:175px;z-index:0;background-color:#ffff8c;"></div>
                    <div data-u="caption" data-t="59" style="position:absolute;top:30px;left:30px;width:180px;height:40px;z-index:0;background-color:#000000;font-size:22px;color:#ffffff;line-height:40px;text-align:center;">Panel Layer</div>
                </div>
                <div data-u="caption" data-t="60" data-3d="1" style="position:absolute;top:-210px;left:200px;width:580px;height:225px;z-index:0;">
                    <img data-u="caption" data-t="61" style="position:absolute;top:0px;left:0px;width:580px;height:225px;z-index:0;" src="assets/landingpagev4/img/present/01/layer-blurred-white.png" />
                    <div data-u="caption" data-t="62" style="position:absolute;top:30px;left:30px;width:250px;height:40px;z-index:0;background-color:#000000;font-size:22px;color:#ffffff;line-height:40px;text-align:center;">Nested Text Layer</div>
                    <div style="position:absolute;top:40px;left:320px;width:200px;height:50px;z-index:0;font-size:26px;line-height:50px;text-align:center;">Nested Text</div>
                </div>
                <div data-u="caption" data-t="63" data-3d="1" style="position:absolute;top:-210px;left:200px;width:580px;height:225px;z-index:0;">
                    <img data-u="caption" data-t="64" style="position:absolute;top:0px;left:0px;width:580px;height:225px;z-index:0;" src="assets/landingpagev4/img/present/01/layer-blurred-white.png" />
                    <div data-u="caption" data-t="65" style="position:absolute;top:30px;left:30px;width:250px;height:40px;z-index:0;background-color:#000000;font-size:22px;color:#ffffff;line-height:40px;text-align:center;">Nested Image Layer</div>
                    <img style="position:absolute;top:78px;left:249px;width:87px;height:92px;z-index:0;" src="assets/landingpagev4/img/present/01/butterfly-blue.png" />
                </div>
                <div data-u="caption" data-t="66" data-3d="1" style="position:absolute;top:-210px;left:200px;width:580px;height:225px;z-index:0;">
                    <img data-u="caption" data-t="67" style="position:absolute;top:0px;left:0px;width:580px;height:225px;z-index:0;" src="assets/landingpagev4/img/present/01/layer-blurred-white.png" />
                    <div data-u="caption" data-t="68" style="position:absolute;top:30px;left:30px;width:250px;height:40px;z-index:0;background-color:#000000;font-size:22px;color:#ffffff;line-height:40px;text-align:center;">Nested Image Layer</div>
                    <img style="position:absolute;top:126px;left:364px;width:66px;height:66px;z-index:0;" src="assets/landingpagev4/img/present/01/butterfly-dark-yellow.png" />
                </div>
                <div data-u="caption" data-t="69" data-3d="1" style="position:absolute;top:-210px;left:200px;width:580px;height:225px;z-index:0;">
                    <img data-u="caption" data-t="70" style="position:absolute;top:0px;left:0px;width:580px;height:225px;z-index:0;" src="assets/landingpagev4/img/present/01/layer-blurred-white.png" />
                    <div data-u="caption" data-t="71" style="position:absolute;top:30px;left:30px;width:250px;height:40px;z-index:0;background-color:#000000;font-size:22px;color:#ffffff;line-height:40px;text-align:center;">Nested Image Layer</div>
                    <img style="position:absolute;top:113px;left:463px;width:48px;height:49px;z-index:0;" src="assets/landingpagev4/img/present/01/butterfly-red.png" />
                </div>
                <div data-u="caption" data-t="72" data-3d="1" style="position:absolute;top:-210px;left:200px;width:580px;height:225px;z-index:0;">
                    <img data-u="caption" data-t="73" style="position:absolute;top:0px;left:0px;width:580px;height:225px;z-index:0;" src="assets/landingpagev4/img/present/01/layer-blurred-white.png" />
                    <div data-u="caption" data-t="74" style="position:absolute;top:30px;left:30px;width:200px;height:40px;z-index:0;background-color:#000000;font-size:22px;color:#ffffff;line-height:40px;text-align:center;">Arrow/Bullets</div>
                    <img data-u="caption" data-t="75" style="position:absolute;top:93px;left:250px;width:18px;height:38px;z-index:0;" src="assets/landingpagev4/img/present/01/arrow-left.png" />
                    <img data-u="caption" data-t="76" style="position:absolute;top:93px;left:312px;width:18px;height:38px;z-index:0;" src="assets/landingpagev4/img/present/01/arrow-right.png" />
                    <img data-u="caption" data-t="77" style="position:absolute;top:0px;left:259px;width:8px;height:8px;z-index:0;" src="assets/landingpagev4/img/present/01/dot.png" />
                    <img data-u="caption" data-t="78" style="position:absolute;top:0px;left:277px;width:8px;height:8px;z-index:0;" src="assets/landingpagev4/img/present/01/dot.png" />
                    <img data-u="caption" data-t="79" style="position:absolute;top:0px;left:295px;width:8px;height:8px;z-index:0;" src="assets/landingpagev4/img/present/01/dot.png" />
                    <img data-u="caption" data-t="80" style="position:absolute;top:0px;left:313px;width:8px;height:8px;z-index:0;" src="assets/landingpagev4/img/present/01/dot.png" />
                </div>
            </div>
        </div>
        <!-- Bullet Navigator -->
         <!-- <div data-u="navigator" class="jssorb05" style="bottom:16px;right:16px;" data-autocenter="1">
            <!-- bullet navigator item prototype -->
             <!-- <div data-u="prototype" style="width:16px;height:16px;"></div>
        </div>
        <!-- Arrow Navigator -->
         <!-- <span data-u="arrowleft" class="jssora22l" style="top:0px;left:10px;width:40px;height:58px;" data-autocenter="2"></span>
        <span data-u="arrowright" class="jssora22r" style="top:0px;right:10px;width:40px;height:58px;" data-autocenter="2"></span>
    </div>
    <script type="text/javascript">jssor_1_slider_init();</script>
    <!-- #endregion Jssor Slider End -->
		
        <!--Header-Text/-->
    </header>
	
    <!--Header-Area/-->
    <!--<section class="gray-bg" id="hoat-dong">
        <div class="space-80"></div>
        <div class="container">
            <div class="row">
			<center><h3 class="text-uppercase">OZO HOẠT ĐỘNG NHƯ THẾ NÀO ?</h3></center><br>
                    
				<div class="col-xs-12 col-md-4 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="well well-hover text-center">
					
                        <p> <img src="assets/landingpagev4/images/icon/icon5.png" alt="Cập nhật dữ liệu"></p>
                        <div class="space-10"></div>
                        <h5 class="text-uppercase">Cập nhật dữ liệu</h5>
                        <p>OZO sẽ lấy tin đăng BĐS từ nhiều nguồn khác nhau như: bất động sản, mua bán, rồng bay, đô thị...kết hợp thông tin chủ nhà ký gửi, dữ liệu từ CTV gửi về.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="well well-hover text-center">
                        <p> <img src="assets/landingpagev4/images/icon/icon6.png" alt="Sàng lọc thông tin"></p>
                        <div class="space-10"></div>
                        <h5 class="text-uppercase">Sàng lọc thông tin</h5>
                        <p>Với công nghệ hiện đại kết hợp với đội ngũ nhân viên giàu kinh nghiệm chúng tôi loại bỏ tin rác, tin môi giới để đưa tới người dùng thông tin BĐS chính chủ .</p>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 wow fadeInUp" data-wow-delay="0.6s">
                    <div class="well well-hover text-center">
                        <p> <img src="assets/landingpagev4/images/icon/icon7.png" alt="Người sử dụng"></p>
                        <div class="space-10"></div>
                        <h5 class="text-uppercase">Người sử dụng</h5>
                        <p>Người dùng có thể sử dụng trên website ozo.vn hoặc có thể tải ứng dụng trên app store và google play để tìm kiếm thông tin BĐS chính chủ</p>
                    </div>
                </div>
				 </div>
        </div>
        <div class="space-80"></div>
    </section>-->
	<!--Work-Section-->
   <!-- <section class="gray-bg" id="tai-sao-chon">
        <div class="space-80"></div>
        <div class="container">
            <div class="row wow fadeInUp">
                <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
                    <h3 class="text-uppercase">TẠI SAO CHỌN OZO ?</h3>
                    <p>Phần mềm này có những điểm gì khác với những website BĐS hiện nay? những tính năng đặc biệt nào được tích hợp trong phần mềm?</p>
                </div>
            </div>
            <div class="space-60"></div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 text-center wow fadeInUp" data-wow-delay="0.2s">
                    <div class="hover-shadow">
                        <div class="space-60">
                            <img src="assets/landingpagev4/images/icon/icon1.png" alt="">
                        </div>
                        <div class="space-20"></div>
                        <h5 class="text-uppercase">Thông tin phong phú</h5>
                        <p>Nguồn thông tin được cập nhật liên tục từ nhiều trang khác nhau, được sàng lọc, được xác minh kỹ, đem lại thông tin phong phú, đa dạng hơn.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 text-center wow fadeInUp" data-wow-delay="0.4s">
                    <div class="hover-shadow">
                        <div class="space-60">
                            <img src="assets/landingpagev4/images/icon/icon2.png" alt="">
                        </div>
                        <div class="space-20"></div>
                        <h5 class="text-uppercase">Kiểm soát thông tin</h5>
                        <p>Với thuật toán hiện đại và sự kết hợp trực tiếp giữa phần mềm và con người chúng tôi kiểm soát được trên 90% thông tin chính chủ.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 text-center wow fadeInUp" data-wow-delay="0.6s">
                    <div class="hover-shadow">
                        <div class="space-60">
                            <img src="assets/landingpagev4/images/icon/icon3.png" alt="">
                        </div>
                        <div class="space-20"></div>
                        <h5 class="text-uppercase">Chât lượng dịch vụ</h5>
                        <p>" Luôn hướng tới chất lượng hoàn hảo" Chúng tôi luôn cố gắng đem tới người dùng sản phẩm hữu ích, giúp việc tìm kiếm thông tin BĐS chính chủ trở lên dễ hơn bao giờ hết.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 text-center wow fadeInUp" data-wow-delay="0.8s">
                    <div class="hover-shadow">
                        <div class="space-60">
                            <img src="assets/landingpagev4/images/icon/icon4.png" alt="">
                        </div>
                        <div class="space-20"></div>
                        <h5 class="text-uppercase">Tương thích cao</h5>
                        <p>OZO là ứng dụng đầu tiên có lượng thông tin BĐS chính chủ lớn nhất có mặt trên 2 hệ điều hành IOS & ANDROID giúp người dùng dễ dàng hơn trong quá trình sử dụng.</p>
                    </div>
                </div>
            </div>
            <div class="space-60"></div>
            <div class="row">
                <div class="col-xs-12 col-md-8 col-md-offset-2 text-center wow fadeInUp">
                    <div class="down-offset ">
                        <img src="assets/landingpagev4/images/mobile1.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>-->
    <!--Work-Section/-->
    <!--Feature-Section-->
    <section class="fix">
        <div class="space-60"></div>
        <div class="container" id="tinh-nang">
           
            <div class="row wow fadeInUp">
                <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
                    <h3 class="text-uppercase">TÍNH NĂNG CƠ BẢN</h3>
                    <!--<p>Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor coli incididunt ut labore Lorem ipsum madolor sit amet.</p>-->
                </div>
            </div>
            <div class="space-60"></div>
            <div class="row feature-area">
                <div class="col-xs-12 col-sm-6 col-md-4 wow fadeInLeft">
                    <div class="space-30"></div>
                    <a href="#feature1" data-toggle="tab">
                        <div class="media single-feature">
                            <div class="media-body text-right">
                                <h5>Cập nhật thông tin</h5>
                                <p>Ngoài những thông tin do chủ nhà ký gửi, CTV cập nhật OZO luôn cập nhật nhanh nhất những tin đăng từ nhiều nguồn khác nhau: bất động sản, mua bán, rồng bay...</p>
                            </div>
                            <div class="media-right">
                                <div class="border-icon">
                                    <span class="ti-light-bulb"></span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="space-30"></div>
                    <a href="#feature2" data-toggle="tab">
                        <div class="media single-feature">
                            <div class="media-body text-right">
                                <h5>Sàng lọc thông tin</h5>
                                <p>Sử dụng thuật toán thông minh kết hợp với đội ngũ nhân viên nhiều kinh nghiệm trong lĩnh vực BĐS đã trực tiếp gọi điện để xác minh từng tin rao nhằm mục đích sàng lọc loại bỏ tin rác và tin môi giới.</p>
                            </div>
                            <div class="media-right">
                                <div class="border-icon">
                                    <span class="ti-cup"></span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="space-30"></div>
                    <a href="#feature3" data-toggle="tab">
                        <div class="media single-feature">
                            <div class="media-body text-right">
                                <h5>Quản lý thông tin</h5>
                                <p>Với chức năng lưu tin, ẩn tin sẽ giúp người dùng dễ dàng hơn trong việc quản lý thông tin cần thiết, bên cạnh đó chức năng đăng tin được phát triển dành cho những khách hàng là chính chủ. </p>
                            </div>
                            <div class="media-right">
                                <div class="border-icon">
                                    <span class="ti-comments"></span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="space-30"></div>
                </div>
                <div class="hidden-xs hidden-sm col-md-4 text-center fix wow fadeIn">
                    <div class="down-offset relative ">
                        <img src="assets/landingpagev4/images/mobile2.png" alt="">
                        <div class="screen_image tab-content">
                            <div id="feature1" class="tab-pane fade in active">
                                <img src="assets/landingpagev4/images/feature/1.jpg" alt="">
                            </div>
                            <div id="feature2" class="tab-pane fade">
                                <img src="assets/landingpagev4/images/feature/6.jpg" alt="">
                            </div>
                            <div id="feature3" class="tab-pane fade">
                                <img src="assets/landingpagev4/images/feature/3.jpg" alt="">
                            </div>
                            <div id="feature4" class="tab-pane fade">
                                <img src="assets/landingpagev4/images/feature/4.jpg" alt="">
                            </div>
                            <div id="feature5" class="tab-pane fade">
                                <img src="assets/landingpagev4/images/feature/5.jpg" alt="">
                            </div>
                            <div id="feature6" class="tab-pane fade">
                                <img src="assets/landingpagev4/images/feature/2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 wow fadeInRight">
                    <div class="space-30"></div>
                    <a href="#feature4" data-toggle="tab">
                        <div class="media single-feature">
                            <div class="media-left">
                                <div class="border-icon">
                                    <span class="ti-eye"></span>
                                </div>
                            </div>
                            <div class="media-body">
                                <h5>Thanh toán dễ dàng</h5>
                                <p>Ngoài việc thu phí tận nơi, chuyển khoản ngân hàng OZO còn tích hợp thanh toán bằng nạp thẻ cào. bên cạnh đó có các lựa chọn về gói cước theo ngày hoặc theo tháng giúp người dùng chủ động trong công việc.  </p>
															
                            </div>
                        </div>
                    </a>
                    <div class="space-30"></div>
                    <a href="#feature5" data-toggle="tab">
                        <div class="media single-feature">
                            <div class="media-left">
                                <div class="border-icon">
                                    <span class="ti-shine"></span>
                                </div>
                            </div>
                            <div class="media-body">
                                <h5>Xuất excel tin đăng</h5>
                                <p>Với tính năng xuất excel sẽ giúp khách hàng dễ dàng sử dụng và quản lý nguồn thông tin BĐS chính chủ.</p>
                            </div>
                        </div>
                    </a>
                    <div class="space-30"></div>
                    <a href="#feature6" data-toggle="tab">
                        <div class="media single-feature">
                            <div class="media-left">
                                <div class="border-icon">
                                    <span class="ti-layout-slider"></span>
                                </div>
                            </div>
                            <div class="media-body">
                                <h5>App store và google play</h5>
                                <p>OZO đã chính thức có mặt trên 2 app store và google play tại đây người dùng có thể tải ứng dụng về để xem tin chính chủ 1 cách dễ dàng hơn bao giờ hết.</p>
                            </div>
                        </div>
                    </a>
                    <div class="space-30"></div>
                </div>
            </div>
        </div>
    </section>
    <!--Feature-Section-->
    <!--Video-Section-->
    <section class="section-video relative fix">
        <div class="section-bg overlay-bg alpha">
        </div>
        <video class="ivideo" id="cvideo">
            <!--<source src="images/background-video.webm" type="video/webm">-->
			<source src="http://intimissibd.com/video/background-video.webm" type="video/webm">
        </video>
        <div class="section-video-text text-center">
            <button type="button" id="vbutton" class="video-button"><span class="ti-control-play"></span></button>
            <div class="space-50"></div>
            <h2 class="text-white">Xem Video Demo</h2>
        </div>
    </section>
    <!--Video-Section/-->
    <!--Screenshot-Section-->
    <section class="gray-bg" id="hinh-anh">
        <div class="space-80"></div>
        <div class="container">
            <div class="row wow fadeInUp">
                <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
                    <h3 class="text-uppercase">APP SCREENSHOTS</h3>
                    <!--<p>Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor coli incididunt ut labore Lorem ipsum madolor sit amet.</p>-->
                </div>
            </div>
            <div class="space-60"></div>
            <div class="row wow fadeIn">
                <div class="col-xs-12">
                    <div class="space-60"></div>
                    <div class="list_screen_slide">
                        <div class="item">
                            
                                <img src="assets/landingpagev4/images/screen/screen1.png" alt="">
                            </a>
                        </div>
                        <div class="item">
                            
                                <img src="assets/landingpagev4/images/screen/screen2.png" alt="">
                            </a>
                        </div>
                        <div class="item">
                           
                                <img src="assets/landingpagev4/images/screen/screen3.png" alt="">
                            </a>
                        </div>
                        <div class="item">
                           
                                <img src="assets/landingpagev4/images/screen/screen4.png" alt="">
                            </a>
                        </div>
                        <div class="item">
                            
                                <img src="assets/landingpagev4/images/screen/screen5.png" alt="">
                            </a>
                        </div>
                        <!--<div class="item">
                            <a href="images/screen/screen1.png" class="work-popup">
                                <img src="images/screen/screen1.png" alt="">
                            </a>
                        </div>
                        <div class="item">
                            <a href="images/screen/screen2.png" class="work-popup">
                                <img src="images/screen/screen2.png" alt="">
                            </a>
                        </div>
                        <div class="item">
                            <a href="images/screen/screen3.png" class="work-popup">
                                <img src="images/screen/screen3.png" alt="">
                            </a>
                        </div>
                        <div class="item">
                           <a href="images/screen/screen4.png" class="work-popup">
                                <img src="images/screen/screen4.png" alt="">
                            </a>
                        </div>-->
                    </div>
                    <div class="space-40"></div>
                </div>
            </div>
        </div>
        <div class="space-80"></div>
    </section>
    <!--Screenshot-Section/-->
    <!--Client-Section-->
    <!--<section id="nhan-xet">
        <div class="space-80"></div>
        <div class="container">
            <div class="row wow fadeInUp">
                <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
                    <div class="well well-lg">
                        <div class="client-details-content">
                            <div class="client_details">
                                <div class="item">
                                    <h3>Quang Dũng</h3>
                                    <p>Founder</p>
                                    <q>Với sự phát triển mạnh của mạng internet cũng như sự bủng nổ của những chiếc điện thoại thông minh nhằm đáp ứng nhu cầu của người dùng OZO đã có mặt trên 2 hệ điều hành ios và android giúp người dùng tìm kiếm thông tin BĐS chính chủ dễ dàng dàng hơn.</q>
                                </div>
                                <div class="item">
                                    <h3>Bùi Nam</h3>
                                    <p>Môi giới BĐS</p>
                                    <q>Trước đây tôi phải truy cập vào nhiều trang BĐS khác nhau để tìm kiếm thông tin, mặc dù mất rất nhiều thời gian nhưng chưa được hiệu quả cao, từ khi sử dụng OZO thời gian tìm kiếm thông tin BĐS chính chủ đã rút ngắn đi rất nhiều đặc biệt thông tin đã được kiểm tra sàng lọc kỹ lưỡng.</q>
                                </div>
                                <div class="item">
                                    <h3>Duy Đồng</h3>
                                    <p>Hà Nội</p>
                                    <q>Vợ chồng tôi tìm mua 1 căn chung cư ở quận cầu giấy sau nhiều ngày tìm kiếm trên các website BĐS hầu hết toàn gặp các văn phòng BĐS và chưa tìm được căn nào ưng ý, nhờ người quen giới thiệu tôi đã sử dụng OZO, tôi đã gặp được trực tiếp chủ nhà và đã mua được 1 căn ưng ý, cảm ơn OZO!</q>
                                </div>
                                <!--<div class="item">
                                    <h3>M S NEWAZ</h3>
                                    <p>Ceative Director</p>
                                    <q>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incubt consectetur aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut com modo consequat. Duis aute irure dolor in reprehenderit.</q>
                                </div>
                                <div class="item">
                                    <h3>M S NEWAZ</h3>
                                    <p>Ceative Director</p>
                                    <q>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incubt consectetur aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut com modo consequat. Duis aute irure dolor in reprehenderit.</q>
                                </div>
                                <div class="item">
                                    <h3>M S NEWAZ</h3>
                                    <p>Ceative Director</p>
                                    <q>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incubt consectetur aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut com modo consequat. Duis aute irure dolor in reprehenderit.</q>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="space-40"></div>
            <div class="row wow fix fadeInUp">
                <div class="col-xs-12 col-md-6 col-md-offset-3 relative">
                    <div class="client-photo-list">
                        <div class="client_photo">
                            <div class="item">
                                <div class="box100">
                                    <img src="assets/landingpagev4/images/client/client1.png" alt="">
                                </div>
                            </div>
                            <div class="item">
                                <div class="box100">
                                    <img src="assets/landingpagev4/images/client/client2.png" alt="">
                                </div>
                            </div>
                            <div class="item">
                                <div class="box100">
                                    <img src="assets/landingpagev4/images/client/client3.png" alt="">
                                </div>
                            </div>
                            <!--<div class="item">
                                <div class="box100">
                                    <img src="images/client/client1.png" alt="">
                                </div>
                            </div>
                            <div class="item">
                                <div class="box100">
                                    <img src="images/client/client2.png" alt="">
                                </div>
                            </div>
                            <div class="item">
                                <div class="box100">
                                    <img src="images/client/client3.png" alt="">
                                </div>
                            </div>-->
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="space-80"></div>
    </section>
    <!--Client-Section-->
    <!--Price-section-->
    <section class="relative fix" id="bao-gia">
        <div class="section-bg overlay-bg fix">
            <img src="images/bg2.jpg" alt="">
        </div>
        <div class="space-80"></div>
        <div class="container">
            <div class="row wow fadeInUp">
                <div class="col-xs-12 col-md-6 col-md-offset-3 text-center text-white">
                    <h3 class="text-uppercase">BÁO GIÁ DỊCH VỤ OZO</h3>
                    <!--<p>Kể từ ngày .... tháng... năm.... <br>OZO chính thức thu phí xem tin, đăng tin trên ứng dụng OZO và trên website OZO.VN, rất mong nhận được sự ủng hộ của quý khách hàng.</p>-->
                </div>
            </div>
            <div class="space-60"></div>
            <div class="row">
                <div class="col-xs-12 col-sm-4 wow fadeInLeft">
                    <div class="panel price-table text-center">
                        <h3 class="text-uppercase price-title">Đăng tin</h3>
                        <hr>
                        <div class="space-30"></div>
                        <ul class="list-unstyled">
                            <li><strong class="amount"><span class="big">20.000</span>đ</strong>/tin</li>
                            <li>* Chỉ dành cho chính chủ</li>
							
                        </ul>
                        <div class="space-30"></div>
                        <hr>
                        <a href="http://ozo.vn/News/Create" class="btn btn-link text-uppercase">Đăng tin</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 wow flipInY">
                    <div class="panel price-table active center text-center">
                        <h3 class="text-uppercase price-title">Xem tin theo ngày</h3>
                        <hr>
                        <div class="space-30"></div>
                        <ul class="list-unstyled">
                            <li><strong class="amount"><span class="big">15.000</span>đ</strong>/ngày</li>
                            <li>01 ngày / 15.000đ</li>
                           
                            
                        </ul>
                        <div class="space-30"></div>
                        <hr>
                        <a href="http://ozo.vn/Payment/Index" class="btn btn-link text-uppercase">Chọn ngay</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 wow fadeInRight">
                    <div class="panel price-table text-center">
                        <h3 class="text-uppercase price-title">Xem tin theo tháng</h3>
                        <hr>
                        <div class="space-30"></div>
                        <ul class="list-unstyled">
                            <li><strong class="amount"><span class="big">300.000</span>đ</strong>/tháng</li>
                            <li>03 tháng - 900.000đ </li>
                           
                           
                              </ul>
                        <div class="space-30"></div>
                        <hr>
                        <a href="http://ozo.vn/Payment/Index" class="btn btn-link text-uppercase">Chọn ngay</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="space-80"></div>
    </section>
    <!--Price-section/-->
    <!--Question-section-->
    <section class="fix"id="thanh-toan">
        <div class="space-80"></div>
        <div class="container">
            <div class="row wow fadeInUp">
                <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
                    <h3 class="text-uppercase">HÌNH THỨC THANH TOÁN</h3>
                    <p>Các bạn có thể thanh toán bằng những hình thức sau:</p>
                </div>
            </div>
             <script>
        jssor_slider2_starter = function (containerId) {
            //Reference http://www.jssor.com/development/tip-make-responsive-slider.html
            var options = {
                $AutoPlay: 1,           //[Optional] Auto play or not, to enable slideshow, this option must be set to greater than 0. Default value is 0. 0: no auto play, 1: continuously, 2: stop at last slide, 4: stop on click, 8: stop on user navigation (by arrow/bullet/thumbnail/drag/arrow key navigation)
                $DragOrientation: 3     //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $Cols is greater than 1, or parking position is not 0),
            };

            var jssor_slider2 = new $JssorSlider$(containerId, options);
            //responsive code begin
            //you can remove responsive code if you don't want the slider scales while window resizing
            function ScaleSlider() {

                //reserve blank width for margin+padding: margin+padding-left (10) + margin+padding-right (10)
                var paddingWidth = 20;

                //minimum width should reserve for text
                var minReserveWidth = 225;

                var parentElement = jssor_slider2.$Elmt.parentNode;

                //evaluate parent container width
                var parentWidth = parentElement.clientWidth;

                if (parentWidth) {

                    //exclude blank width
                    var availableWidth = parentWidth - paddingWidth;

                    //calculate slider width as 70% of available width
                    var sliderWidth = availableWidth * 0.7;

                    //slider width is maximum 600
                    sliderWidth = Math.min(sliderWidth, 600);

                    //slider width is minimum 200
                    sliderWidth = Math.max(sliderWidth, 200);
                    var clearFix = "none";

                    //evaluate free width for text, if the width is less than minReserveWidth then fill parent container
                    if (availableWidth - sliderWidth < minReserveWidth) {

                        //set slider width to available width
                        sliderWidth = availableWidth;

                        //slider width is minimum 200
                        sliderWidth = Math.max(sliderWidth, 200);

                        clearFix = "both";
                    }

                    //clear fix for safari 3.1, chrome 3
                    var toClearElment = $Jssor$.$GetElement("clearFixDiv");
                    toClearElment && $Jssor$.$Css(toClearElment, "clear", clearFix);

                    jssor_slider2.$ScaleWidth(sliderWidth);
                }
                else
                    $Jssor$.$Delay(ScaleSlider, 30);
            }

            ScaleSlider();
            $Jssor$.$AddEvent(window, "load", ScaleSlider);

            $Jssor$.$AddEvent(window, "resize", ScaleSlider);
            $Jssor$.$AddEvent(window, "orientationchange", ScaleSlider);
            //responsive code end
        };
    </script>
    <div style="display: block; overflow: hidden; margin: 20px auto 0 auto; padding: 10px 5px 5px 10px; width: 100%; max-width:1000px; min-width: 340px; border: 1px solid #ccc; background-color: #fff; box-shadow: 2px 2px 10px 2px #dddddd; -webkit-box-shadow: 0px 0px 5px 0px #dddddd; font-size: 1em; line-height: 1.5em;">
    <!-- Jssor Slider Begin -->
    
        <div id="slider2_container" style="position: relative; margin: 0px 5px 5px 0px; float: left; top: 0px; left: 0px; width: 600px;
            height: 300px; overflow: hidden;">
            <!-- Slides Container -->
            <div u="slides" style="position: absolute; left: 0px; top: 0px; width: 600px; height: 300px;
                overflow: hidden;">
                <div><img u="image" src="assets/landingpagev4/img/landscape/01.jpg" />
                    <!--<div u="caption" t="ZMF|10" style="position:absolute;left:400px;top:80px;width:110px;height:40px;font-size:36px;color:#000;line-height:40px;">Thu</div>
                    <div u="caption" t="ZMF|10" style="position:absolute;left:480px;top:80px;width:120px;height:40px;font-size:36px;color:#000;line-height:40px;">Tiền</div>
                    <div u="caption" t="ZMF|10" style="position:absolute;left:400px;top:120px;width:130px;height:40px;font-size:36px;color:#000;line-height:40px;">tận</div>
                    <div u="caption" t="ZMF|10" style="position:absolute;left:480px;top:120px;width:130px;height:40px;font-size:36px;color:#000;line-height:40px;">nơi</div>-->
                     </div>
                <div><img u="image" src="assets/landingpagev4/img/landscape/02.jpg" />
                    <div u="caption" t="ZMF|10" style="position:absolute;left:100px;top:5px;width:110px;height:40px;font-size:36px;color:#9900CC;line-height:40px;">Nạp</div>
                    <div u="caption" t="ZMF|10" style="position:absolute;left:180px;top:5px;width:120px;height:40px;font-size:36px;color:#9900CC;line-height:40px;">Thẻ</div>
                    <div u="caption" t="ZMF|10" style="position:absolute;left:260px;top:5px;width:130px;height:40px;font-size:36px;color:#9900CC;line-height:40px;">Cào</div>
                </div>
                <div><img u="image" src="assets/landingpagev4/img/landscape/03.jpg" />
                    <div u="caption" t="RTT|10" style="position:absolute;left:100px;top:5px;width:110px;height:40px;font-size:36px;color:#fff;line-height:40px;">Thanh</div>
                    <div u="caption" t="RTT|10" style="position:absolute;left:230px;top:5px;width:120px;height:40px;font-size:36px;color:#fff;line-height:40px;">toán</div>
                    <div u="caption" t="RTT|10" style="position:absolute;left:350px;top:5px;width:130px;height:40px;font-size:36px;color:#fff;line-height:40px;">trực</div>
					<div u="caption" t="RTT|10" style="position:absolute;left:450px;top:5px;width:130px;height:40px;font-size:36px;color:#fff;line-height:40px;">tiếp</div>
                </div>
                <div><img u="image" src="assets/landingpagev4/img/landscape/04.jpg" />
                    <!--<div u="caption" t="RTT|10" style="position:absolute;left:80px;top:250px;width:110px;height:40px;font-size:36px;color:#000;line-height:40px;">Chuyển</div>
                    <div u="caption" t="RTT|10" style="position:absolute;left:230px;top:250px;width:120px;height:40px;font-size:36px;color:#000;line-height:40px;">Khoản</div>
                    <div u="caption" t="RTT|10" style="position:absolute;left:350px;top:250px;width:130px;height:40px;font-size:36px;color:#000;line-height:40px;">Ngân</div>
					<div u="caption" t="RTT|10" style="position:absolute;left:450px;top:250px;width:130px;height:40px;font-size:36px;color:#000;line-height:40px;">Hàng</div>-->
                </div>
            </div>
            <!-- Trigger -->
            <script>
                jssor_slider2_starter('slider2_container');
            </script>
        </div>
        <!-- Jssor Slider End -->
        <div id="clearFixDiv" style="display: table; padding: 5px; margin: 0px 5px 5px 0px; border: 1px solid #ccc;">
            <h4>Thu tiền tận nơi</h4>
            <p>Chỉ áp dụng trong nội thành Hà Nội.</p>
			 <h4>Nạp thẻ cào</h4>
			 <p>Áp dụng đối với 3 nhà mạng : Viettel, Vinaphone, Mobifone.</p>
			 <h4>Thanh toán tại văn phòng</h4>
			 <p>Các bạn có thể thanh toán trực tiếp tại văn phòng : P.234 Nhà C TT ĐH Luật, Ngõ 10 Phan Văn Trường, Cầu Giấy, Hà Nội.</p>
			  <h4>Chuyển khoản ngân hàng</h4>
			  <p>Các bạn liên hệ: 0982667700 để lấy số TK</p>
			 
        </div>
         <p style="margin-top:0px; font-weight: bold;">Cảm ơn các bạn đã ủng hộ chúng tôi !</p>
    </div>
        <div class="space-80"></div>
    </section>
    <!--Question-section/-->
    <!--Download-Section-->
    <section class="relative fix" id="tai-app">
        <div class="space-80"></div>
        <div class="section-bg overlay-bg">
            <img src="assets/landingpagev4/images/bg3.jpg" alt="">
        </div>
        <div class="container">
            <div class="row wow fadeInUp">
                <div class="col-xs-12 col-md-6 col-md-offset-3 text-center text-white">
                    <h3 class="text-uppercase">TẢI APP OZO TẠI ĐÂY</h3>
                    <p>Từ điện thoại bạn có thể truy cập trực tiếp vào app store hoặc google play để tải ứng dụng</p>
                </div>
            </div>
            <div class="space-60"></div>
            <div class="row text-white wow fadeInUp">
                <div class="col-xs-12 col-sm-4">
                    <a href="#" class="big-button alignright">
                        <span class="big-button-icon">
                            <span class="ti-android"></span>
                        </span>
                        <span>IOS</span>
                        <br>
                        <strong>App store</strong>
                    </a>
                    <div class="space-10"></div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <a href="#" class="big-button aligncenter">
                        <span class="big-button-icon">
                            <span class="ti-android"></span>
                        </span>
                        <span>ANDROID</span>
                        <br>
                        <strong>Google play</strong>
                    </a>
                    <div class="space-10"></div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <a href="#" class="big-button alignleft">
                        <span class="big-button-icon">
                            <span class="ti-android"></span>
                        </span>
                        <span>WINDOWS PHONE</span>
                        <br>
                        <strong>Play store</strong>
                    </a>
                    <div class="space-10"></div>
                </div>
            </div>
        </div>
        <div class="space-80"></div>
    </section>
    <!--Download-Section/-->
        
	 <!--Team-Section-->
    <!--<section class="gray-bg" id="lien-he">
        <div class="space-80"></div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
                    <h3 class="text-uppercase">BỘ PHẬN CHĂM SÓC KHÁCH HÀNG</h3>
                    <p>Giờ hành chính</p>
                </div>
            </div>
            <div class="space-60"></div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="single-team relative panel fix">
                        <img src="assets/landingpagev4/images/team/team1.jpg" alt="">
                        <div class="team_details text-center">
                            <h5 class="text-uppercase">0964.86.1221</h5>
                            <p>CSKH 24/7</p>
                            <div class="social-menu">
                                <hr>
                                <a href="#"><span class="ti-facebook"></span></a>
                                <a href="#"><span class="ti-twitter-alt"></span></a>
                                <a href="#"><span class="ti-linkedin"></span></a>
                                <a href="#"><span class="ti-pinterest-alt"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="single-team relative panel fix">
                        <img src="assets/landingpagev4/images/team/team2.jpg" alt="">
                        <div class="team_details text-center">
                            <h5 class="text-uppercase">0964.96.1221</h5>
                            <p>CSKH 24/7</p>
                            <div class="social-menu">
                                <hr>
                                <a href="#"><span class="ti-facebook"></span></a>
                                <a href="#"><span class="ti-twitter-alt"></span></a>
                                <a href="#"><span class="ti-linkedin"></span></a>
                                <a href="#"><span class="ti-pinterest-alt"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 wow fadeInUp" data-wow-delay="0.6s">
                    <div class="single-team relative panel fix">
                        <img src="assets/landingpagev4/images/team/team3.jpg" alt="">
                        <div class="team_details text-center">
                            <h5 class="text-uppercase">0916.90.1221</h5>
                            <p>CSKH 24/7</p>
                            <div class="social-menu">
                                <hr>
                                <a href="#"><span class="ti-facebook"></span></a>
                                <a href="#"><span class="ti-twitter-alt"></span></a>
                                <a href="#"><span class="ti-linkedin"></span></a>
                                <a href="#"><span class="ti-pinterest-alt"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 wow fadeInUp" data-wow-delay="0.8s">
                    <div class="single-team relative panel fix">
                        <img src="assets/landingpagev4/images/team/team4.jpg" alt="">
                        <div class="team_details text-center">
                            <h5 class="text-uppercase">0917.90.1221</h5>
                            <p>CSKH 24/7</p>
                            <div class="social-menu">
                                <hr>
                                <a href="#"><span class="ti-facebook"></span></a>
                                <a href="#"><span class="ti-twitter-alt"></span></a>
                                <a href="#"><span class="ti-linkedin"></span></a>
                                <a href="#"><span class="ti-pinterest-alt"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
        <div class="space-80"></div>
    </section>
    <!--Team-Section/-->
        <div id="maps"></div>
	     <!--Map/-->
		  <!--Footer-area-->
    <footer class="black-bg">
        <div class="container">
            <div class="row">
                <!--<div class="offset-top">
                    <div class="col-xs-12 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="well well-lg">
                            
                            <div class="space-20"></div>
                           <div class="fb-page" data-href="https://www.facebook.com/ozo.tinchinhchu/" data-tabs="timeline" data-width="550" data-height="500" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/ozo.tinchinhchu/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/ozo.tinchinhchu/">Ozo -Tin Chính Chủ</a></blockquote></div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                        <div class="well well-lg">
                            <h3>Gửi tin nhắn cho chúng tôi</h3>
                            <div class="space-20"></div>
                             <div class="fb-page" data-href="https://www.facebook.com/ozo.tinchinhchu/" data-tabs="messages" data-width="550" data-height="250" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/ozo.tinchinhchu/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/ozo.tinchinhchu/">Ozo -Tin Chính Chủ</a></blockquote></div>
                            <div class="space-25"></div>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="border-icon sm"><span class="ti-headphone"></span></div>
                                        </td>
                                        <td><a href="tel:0982667700">0982667700</a></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="border-icon sm"><span class="ti-email"></span></div>
                                        </td>
                                        <td>
                                            <a href="mailto:marveltheme@gmail.com">suport@ozo.vn</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="border-icon sm"><span class="ti-location-pin"></span></div>
                                        </td>
                                        <td>
                                            <address>Ngõ 10 Phan Văn Trường, Cầu Giấy, Hà Nội</address>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>-->
                       
            <div class="space-80"></div>
            <div class="row text-white wow fadeIn">
                <div class="col-xs-12 text-center">
                    <div class="social-menu">
                        <a href="#"><span class="ti-facebook"></span></a>
                        <a href="#"><span class="ti-twitter-alt"></span></a>
                        <a href="#"><span class="ti-linkedin"></span></a>
                        <a href="#"><span class="ti-pinterest-alt"></span></a>
                    </div>
                    <div class="space-20"></div>
                    <p>&copy; 2017 OZO All rights reserved.</p>
                </div>
            </div>
            <div class="space-20"></div>
        </div>
    </footer>
    <!--Footer-area-->
   
    <!--Vendor JS-->
    <script src="assets/landingpagev4/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="assets/landingpagev4/js/vendor/bootstrap.min.js"></script>
    <!--Plugin JS-->
    <script src="assets/landingpagev4/js/owl.carousel.min.js"></script>
    <script src="assets/landingpagev4/js/scrollUp.min.js"></script>
    <script src="assets/landingpagev4/js/magnific-popup.min.js"></script>
    <script src="assets/landingpagev4/js/ripples-min.js"></script>
    <script src="assets/landingpagev4/js/contact-form.js"></script>
    <script src="assets/landingpagev4/js/spectragram.min.js"></script>
    <script src="assets/landingpagev4/js/ajaxchimp.js"></script>
    <script src="assets/landingpagev4/js/wow.min.js"></script>
    <script src="assets/landingpagev4/js/plugins.js"></script>
    <!--Active JS-->
    <script src="assets/landingpagev4/js/main.js"></script>
    <!--Maps JS-->
   <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTS_KEDfHXYBslFTI_qPJIybDP3eceE-A&sensor=false"></script>
    <script src="assets/landingpagev4/js/maps.js"></script>
	
	

<link rel="stylesheet" href="assets/landingpagev4/css/linhnguyen.css">	
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
		<script type="text/javascript" src="assets/landingpagev4/js/jquery.popup.js"></script>	
		<script type="text/javascript" >
			$(window).load(function() {
			  $('#myModal').linhnguyen($('#myModal').data());
			});
		</script>	
		
	</head>
	<body>	
		<div id="myModal" class="linhnguyen-modal">
		<h3>Thông báo</h3>
		<p>Tất cả những TK đã hết hạn xin vui lòng liên hệ để gia hạn miễn phí hết ngày 06/07/2017.<h2>0982.66.77.00</h2></p>
				<!--<h5>Hãy Like và share Fanpage để ủng hộ cho chúng tôi.</h5>
			<div class="fb-page" data-href="https://www.facebook.com/ozo.tinchinhchu/" data-tabs="" data-width="550" data-height="300" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/ozo.tinchinhchu/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/ozo.tinchinhchu/">Ozo -Tin Chính Chủ</a></blockquote></div>-->
			  
			<a class="close-linhnguyen-modal"><img src="assets/landingpagev4/images/x.png" alt="Tắt thông báo"></a>
		</div>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.9&appId=1579975938972755";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
	

</body>

</html>