<!DOCTYPE html>
<html lang="vi">
<head>
<base  />
<!-- <meta http-equiv="content-language" content="en" /> -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width" />
<title>OZO - TIN CHÍNH CHỦ | 0982.66.77.00</title>
<meta name="keywords" content="OZO - Tin chính chủ | Cung cấp thông tin BĐS chính chủ | 0982.66.77.00" />
<meta name="description" content="OZO - Tin chính chủ | Cung cấp thông tin BĐS chính chủ | 0982.66.77.00" />
<!-- <meta name="dc.language" content="vi-VN"> -->


<link rel="icon" type="image/png" href="assets/landingPagev5/images/iconlogo.png" />
<link rel="stylesheet" type="text/css" href="assets/landingPagev5/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="assets/landingPagev5/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="assets/landingPagev5/css/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="assets/landingPagev5/css/owl.theme.css">
<link rel="stylesheet" type="text/css" href="assets/landingPagev5/css/jquery.fancybox.css">
<link rel="stylesheet" type="text/css" href="assets/landingPagev5/font_icon/icon_font.css">

<link rel="stylesheet" type="text/css" href="assets/landingPagev5/css/style.css">
<link rel="stylesheet" type="text/css" href="assets/landingPagev5/css/responsive.css">
<link rel="stylesheet" type="text/css" href="assets/landingPagev5/css/hover.css">
<link rel="stylesheet" type="text/css" href="assets/landingPagev5/css/animate.css">
<link rel="stylesheet" type="text/css" href="assets/landingPagev5/css/headtitle.css">
<script type="text/javascript" src="assets/landingPagev5/js/jquery.min.js"></script>

</head>
<script>
(function(i,s,o,g,r,a,m){ i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','../www.google-analytics.com/analytics.js','ga'); ga('create', 'UA-91464151-1', 'auto');ga('send', 'pageview');
</script>
<body>


<header>
	<div class="my_container">
		<div class="header">
			<div class="header_logo">
				<a href="#">
					<img src="assets/landingPagev5/images/logo.png" class="img img-responsive" alt="OZO - Tin chính chủ">
				</a>
			</div>
			<div class="header_menu">
				<ul class="menu_lv_one">
					<li><a href="http://ozo.vn/Account/Login" title="Trang chủ"><span></span>Đăng nhập</a></li>

										<li>
						<a href="http://ozo.vn/Account/Create" title="Kho giao diện"><span></span>Đăng ký</a>
												
					</li>
										
							
					
				</ul>

				<div class="menu_xs_sm">
					<i class="fa fa-bars" aria-hidden="true"></i>
				</div>
			</div>
			<div class="clear"></div>
		</div>

		
	</div>
</header>


<div id="categories">
	
	<div>
		<i class="fa fa-times closes" aria-hidden="true"></i>
	</div>
	</br></br>
	<div class="categories_logo">
		<a href="#">
			<img src="assets/landingPagev5/images/logo.png" class="img img-responsive" alt="OZO - Tin chính chủ">
		</a>
	</div>
	
	<ul class="mobile_menu">
		<li><a href="http://ozo.vn/Account/Login" title="Trang chủ">Đăng nhập</a></li>
		<li><a href="http://ozo.vn/Account/Create" title="Trang chủ">Đăng ký</a></li>
		
					</li>
				
	</ul>
</div>





	<section id="sec_video">
	<video id="video" autoplay="autoplay" loop="loop" autobuffer="autobuffer">
		<source src="http://ozo.com.vn/video/video.mp4" type="video/mp4">
	</video>
	<div class="text_about">
		<p class="p1 wow bounceInLeft" data-wow-delay="0.6s">Bạn đang tìm kiếm <span>Nguồn thông tin</span> Bất động sản <span>Chính chủ</span></p>
		<p class="p2 wow bounceInRight" data-wow-delay="0.9s">Hãy sử dụng dịch vụ của chúng tôi để cảm nhận sự khác biệt</p>
		<div class="register wow zoomIn" data-wow-delay="1.2s">
			<span>0982.66.77.00</span>
		</div>
	</div>
</section>


<footer class="wow zoomIn" data-wow-delay="0.3s">
	<div class="my_container" id="lien-he">
		<div class="footer">
			<div class="title_help">
				<p>Chúng tôi hỗ trợ khách hàng với hotline duy nhất</p>
				<span>0982.66.77.00</span>
			</div>
			<div class="clear"></div>
		</div>

		<div class="footer_one">
			<!--<div class="footer_tuvan">
				<div class="ft_icon">
					<i class="fa fa-headphones" aria-hidden="true"></i>
				</div>
				<div class="footer_tuvan_title">
					<p>Bộ phận CSKH</p>
					<span>0964.86.1221</span>
				</div>
			</div>
				<div class="footer_tuvan">
				<div class="ft_icon">
					<i class="fa fa-headphones" aria-hidden="true"></i>
				</div>
				<div class="footer_tuvan_title">
					<p>Bộ phận CSKH</p>
					<span>0964.96.1221</span>
				</div>
			</div>
				<div class="footer_tuvan">
				<div class="ft_icon">
					<i class="fa fa-headphones" aria-hidden="true"></i>
				</div>
				<div class="footer_tuvan_title">
					<p>Bộ phận CSKH</p>
					<span>0916.90.1221</span>
				</div>
			</div>
			<div class="footer_tuvan">
				<div class="ft_icon">
					<i class="fa fa-headphones" aria-hidden="true"></i>
				</div>
				<div class="footer_tuvan_title">
					<p>Bộ phận CSKH</p>
					<span>0917.90.1221</span>
				</div>
			</div>
<div class="footer_tuvan">
				<div class="ft_icon">
					<i class="fa fa-headphones" aria-hidden="true"></i>
				</div>
				<div class="footer_tuvan_title">
					<p>Bộ phận CSKH</p>
					<span>0989.94.1221</span>
				</div>
			</div>-->

			
				<div class="clear"></div>
		</div>

		<div class="footer_two">
			<div class="footer_two_40">
				<div class="footer_two_40_title">
					<h3>Thông tin liên hệ</h3>
				</div>
				<div class="footer_two_20_info">
					
					<p>Phòng 234, Nhà C TT ĐH Luật, Ngõ 10 Phan Văn Trường, Cầu Giấy, HN</p>
					<p class="phone"><span>Hotline: </span>0982.66.77.00</p>
					<p><span>Website: </span>ozo.vn</p>
					
				</div>
			</div>

			<div class="footer_two_20">
				<div class="footer_two_40_title">
				<h3>Thời gian làm việc</h3>
					
				</div>
				<div class="footer_two_20_info">
					<p><span>Giờ làm việc (từ thứ 2 đến thứ 7) </span></p>
					<p>Sáng: 8h00 - 12h</p>
					<p>Chiều: 13h30 - 5h30</p>
				</div>
			</div>

			
			<div class="fb-page" data-href="https://www.facebook.com/ozo.tinchinhchu/" data-width="450" data-height="250" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/ozo.tinchinhchu/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/ozo.tinchinhchu/">Ozo -Tin Chính Chủ</a></blockquote></div>
			<div class="clear"></div>
		</div>
	</div>
</footer>

<section id="footer_bt" class="wow bounceInUp" data-wow-delay="0.3s">
	<div class="my_container">
		<div class="footer_bt">
			<p class="footer_bt_40">
				<i class="fa fa-headphones" aria-hidden="true"></i> Hỗ trợ kỹ thuật: 
				<span>0982.66.77.00</span></p>
			<p class="footer_bt_20">© Copyright 2017. All rights reserved.</p>
			<div class="clear"></div>
		</div>
	</div>
</section>


<script type="text/javascript" src="assets/landingPagev5/js.count.js"></script>
<script type="text/javascript" src="assets/landingPagev5/js/bootstrap.min.js"></script>
<script type="text/javascript" src="assets/landingPagev5/js/owl.carousel.js"></script>
<script type="text/javascript" src="assets/landingPagev5/js/parallax.js"></script>
<script type="text/javascript" src="assets/landingPagev5/js/myscript.js"></script>
<script type="text/javascript" src="assets/landingPagev5/js/headtitle.js"></script>
<script src='assets/landingPagev5/js/wow.min.js'></script>
<link rel="stylesheet" href="assets/landingpagev5/css/linhnguyen.css">	
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
		<script type="text/javascript" src="assets/landingpagev5/js/jquery.popup.js"></script>	
		<script type="text/javascript" >
			$(window).load(function() {
			  $('#myModal').linhnguyen($('#myModal').data());
			});
		</script>	
		
	</head>
	<body>	
		<div id="myModal" class="linhnguyen-modal">
		<h3>Thông báo</h3>
		<p>TK nào đã hết hạn xin vui lòng liên hệ để được sử dụng miễn phí hết ngày <strong>07/07/2017</strong><h2>0982.66.77.00</h2></p>
						  
			<a class="close-linhnguyen-modal"><img src="assets/landingpagev5/images/x.png" alt="Tắt thông báo"></a>
		</div>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.9&appId=1579975938972755";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

</body>
</html>