<html>
<head>
    <title>OZO.VN</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/assets/landingPage/css/main.css" />
    <noscript><link rel="stylesheet" href="~/assets/landingPage/css/noscript.css" /></noscript>
</head>
<body>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        <header id="header">
            <div class="content">
                <div class="inner">
                    <h1>OZO.VN</h1>
                    <p>
                        Ms Phương: 0964 044 086 - 0915 442 086<br />
                        Ms Thu: 0981 637 051 - 0943 662 172<br />
                        Hotline: 0904.584.234
                    </p>
                    <ul>
                        <li><a style="font-size:1.8rem" href="/Account/Login">ĐĂNG NHẬP</a></li>
                        <li><a style="font-size:1.8rem" href="/Account/Create">ĐĂNG KÝ</a></li>
                    </ul>
                </div>
            </div>
            <nav>
                <ul>
                    <li><a href="#intro">Giới thiệu</a></li>
                    <li><a href="#work">Hướng dẫn</a></li>
                    <li><a href="#about">Báo giá</a></li>
                    <li><a href="#contact">Liên hệ</a></li>
                </ul>
            </nav>
        </header>

        <!-- Main -->
        <div id="main">

            <!-- Intro -->
            <article id="intro">
                <h2 class="major">Giới thiệu</h2>
                <p>
                    Bạn là chuyên viên tư vấn, nhà môi giới giàu kinh nghiệm trong lĩnh vực BẤT ĐỘNG SẢN?
                    hay một “lính mới”  trong nghề thì bạn vẫn đang mất nhiều thời gian trong việc tìm kiếm nguồn thông tin BẤT ĐỘNG SẢN chính chủ?
                    Chúng tôi xây dựng phần mềm Tinchinhchu.vn giúp bạn tiết kiệm thời gian, giảm chi phí, nâng cao hiệu quả trong việc tìm kiếm nguồn hàng chính chủ .
                </p>
                <p>
                    Tinchinhchu.vn là phần mềm cung cấp TIN BẤT ĐỘNG SẢN chính chủ dành cho cá nhân,
                    các công ty đang hoạt động trong lĩnh vực tư vấn, môi giới BẤT ĐỘNG SẢN.
                    Tinchinhchu.vn hoạt động dựa trên công nghệ hiện đại, tiên tiến để thu thập dữ liệu từ nhiều nguồn khác nhau trên internet,
                    kết hợp với đội ngũ chuyên viên nhiều năm kinh nghiệm trong lĩnh vực tư vấn,
                    môi giới BẤT ĐỘNG SẢN sàng lọc để đưa ra nguồn tin chính chủ  hỗ trợ các bạn MÔI GIỚI nhằm giảm chi phí,
                    tiết kiệm thời gian và nâng cao hiệu quả trong việc tìm kiếm thông tin BẤT ĐỘNG SẢN chính chủ.
                </p>
                Lợi ích khi sử dụng Tinchinchu.vn:
                Chỉ cung cấp tin chính chủ cho cá nhân, công ty MÔI GIỚI BẤT ĐỘNG SẢN
                Tiết kiệm thời gian tìm kiếm nguồn hàng chính chủ
                Giảm chi phí
                Nâng cao hiệu quả trong công việc
                Tính năng cơ bản của phần mềm:
                Cập nhật và sàng lọc thông tin Bất động sản
                Loại bỏ tin đăng không phải chính chủ
                Quản lý thông tin bất động sản theo chuyên mục, khu vực
                Chức năng Lưu Tin giúp dễ dàng quản lý nguồn hàng
                Tìm kiếm thông minh ( tìm theo từ, cụm từ…)
                Sắp xếp thứ tự hiển thị tin đăng (tin mới, đăng lại)
                Lọc tin trùng nhau
                Hiển thị tin liên quan
                Chặn tin spam theo ý muốn
                Tùy chọn đánh dấu tin đăng
                Giao diện thân thiện dễ sử dụng
                Tốc độ xử lý dữ liệu nhanh
                Nguồn thông tin phong phú

                Trong thời gian tới chúng tôi sẽ nâng cấp bổ sung thêm nhiều tính năng mới và cung cấp nguồn hàng phong phú hơn.
                Rất mong được hợp tác cùng các bạn!
            </article>

            <!-- Work -->
            <article id="work">
                <h2 class="major">Hướng dẫn</h2>
                <span class="image main"><img src="~/assets/landingPage/images/pic02.jpg" alt="" /></span>
                <p>Adipiscing magna sed dolor elit. Praesent eleifend dignissim arcu, at eleifend sapien imperdiet ac. Aliquam erat volutpat. Praesent urna nisi, fringila lorem et vehicula lacinia quam. Integer sollicitudin mauris nec lorem luctus ultrices.</p>
                <p>Nullam et orci eu lorem consequat tincidunt vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus pharetra. Pellentesque condimentum sem. In efficitur ligula tate urna. Maecenas laoreet massa vel lacinia pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus amet feugiat tempus.</p>
            </article>

            <!-- About -->
            <article id="about">
                <h2 class="major">Báo giá</h2>
                <span class="image main"><img src="~/assets/landingPage/images/pic03.jpg" alt="" /></span>
                <p>Lorem ipsum dolor sit amet, consectetur et adipiscing elit. Praesent eleifend dignissim arcu, at eleifend sapien imperdiet ac. Aliquam erat volutpat. Praesent urna nisi, fringila lorem et vehicula lacinia quam. Integer sollicitudin mauris nec lorem luctus ultrices. Aliquam libero et malesuada fames ac ante ipsum primis in faucibus. Cras viverra ligula sit amet ex mollis mattis lorem ipsum dolor sit amet.</p>
            </article>

            <!-- Contact -->
            <article id="contact">
                <h2 class="major">Liên hệ</h2>
                <ul>
                    <li><a href="#"><span class="label">aaaaaaaa</span></a></li>
                    <li><a href="#"><span class="label">aaaaaaaa</span></a></li>
                    <li><a href="#"><span class="label">aaaaaaaaaaaaa</span></a></li>
                    <li><a href="#"><span class="label">aaaaaaaaaaaaaaaa</span></a></li>
                </ul>
            </article>
        </div>

        <!-- Footer -->
        <footer id="footer">
            <p class="copyright">Copyright © 2017 Ozo.vn Hỗ trợ kỹ thuật: 0902.093.039 - 0904.584.234</p>
        </footer>

    </div>

    <!-- BG -->
    <div id="bg"></div>

    <!-- Scripts -->
    <script src="~/assets/landingPage/js/jquery.min.js"></script>
    <script src="~/assets/landingPage/js/skel.min.js"></script>
    <script src="~/assets/landingPage/js/util.js"></script>
    <script src="~/assets/landingPage/js/main.js"></script>

</body>
</html>

