<html>
<head>
    <title>OZO - TIN CHÍNH CHỦ</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/assets/landingPage/css/main.css" />
    <noscript><link rel="stylesheet" href="~/assets/landingPage/css/noscript.css" /></noscript>
</head>
<body>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        <header id="header">
            <div class="content">
                <div class="inner">
                    <img src="~/assets/landingPage/images/ozo-banner1.png" alt="OZO" /><h1>TIN CHÍNH CHỦ</h1>
                    <p>
                        CSKH 1: 0964.86.1221 - CSKH 2: 0916.90.1221<br />
                        CSKH 3: 0964.96.1221 - CSKH 4: 0917.90.1221<br />
                        CSKH 5: 0989.94.1221
                    </p>
                    <nav>
                        <ul>
                            <li style="width: 50%;"><a style="font-size:1.8rem" href="/Account/Login">ĐĂNG NHẬP</a></li>
                            <li style="width: 50%;"><a style="font-size:1.8rem" href="/Account/Create">ĐĂNG KÝ</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <nav>
                <ul>
                    <li><a href="#intro">Giới thiệu</a></li>
                    <li><a href="#dichvu">Dịch vụ</a></li>
                    <li><a href="#about">Thanh toán</a></li>
                    <li><a href="#khuyenmai">Khuyến mãi</a></li>
                    <li><a href="#quydinh">Quy Định</a></li>
                    <li><a href="#contact">Liên hệ</a></li>
                </ul>
            </nav>
        </header>

        <!-- Main -->
        <div id="main">

            <!-- Intro -->
            <article id="intro">
                <h2 class="major">OZO LÀ GÌ ?</h2>
                <p>
                    OZO là phần mềm cung cấp thông tin BĐS chính chủ, giúp người dùng tiết kiệm được thời gian và công sức trong việc tìm kiếm nguồn thông tin BĐS chính chủ.
                </p>
                <img src="~/assets/landingPage/images/ozo-banner1.png" alt="OZO" />

            </article>

            <!-- dichvu -->
            <article id="dichvu">
                <h2 class="major">Dịch vụ</h2>
                <p>đang cập nhật</p>

            </article>

            <!-- about -->
            <article id="about">
                <h2 class="major">Bảng giá</h2>
                <p>
                    1. Xem tin theo ngày: 20k/ngày<br>
                    2. Xem tin theo tháng: 450k/tháng<br>
                    3. Đăng tin : 15k/1 tin<br>
                    - Thanh toán 03 tháng: 1.2 triệu<br>
                    - Thanh toán 06 tháng: 1.8 triệu (Được xuất excel tin chính chủ)<br>
                    - Thanh toán 12 tháng: liên hệ (Được xuất excel tin chính chủ)<br>

                    <h2 class="major">Thanh toán</h2>
                <p>
                    1. THU TIỀN TẬN NƠI<br>
                    Chỉ áp dụng với khu vực trung tâm thành phố Hà Nội <br>
                    2. THANH TOÁN TẠI VĂN PHÒNG<br>
                    P.234 Nhà C TT ĐH Luật, Ngõ 10 Phan Văn Trường, Cầu Giấy, Hà Nội<br>
                    3. NẠP THẺ ĐIỆN THOẠI<br>
                    Áp dụng đối với 3 nhà mạng: Viettel, Vinaphone, Mobiphone<br>
                    4. CHUYỂN KHOẢN QUA NGÂN HÀNG<br>
                    (Sau khi chuyển khoản vui lòng liên hệ 0982.66.77.00 để gia hạn TK)<br>
                    TÊN TK : NGUYỄN QUANG DŨNG <br>
                    0451 000 240 678 - VIETCOMBANK CN THÀNH CÔNG<br>
                    1507 205 709 802 - AGRIBANK CN CẦU GIẤY <br>
                    033 01 01 11 33 666 - MARITIME BANK HÀ NỘI<br>
                    02466 888 001 - TP BANK HÀ NỘI
                </p>

            </article>
            <!-- khuyenmai -->
            <article id="khuyenmai">
                <h2 class="major">Khuyến mãi</h2>
                <span class="image main"><img src="~/assets/landingPage/images/khuyen-mai.png" alt="Bảng giá xem tin OZO" /></span>

            </article>
            <!-- quydinh -->
            <article id="quydinh">
                <h2 class="major">Quy định</h2>

                <p>đang cập nhật</p>
            </article>

            <!-- Contact -->
            <article id="contact">
                <h2 class="major">Liên hệ</h2>
                <ul>
                    <span class="image main"><img src="~/assets/landingPage/images/pic04.jpg" alt="" /></span>
                    <li><a href="#"><span class="label">P.234 Nhà C TT ĐH Luật, Ngõ 10 Phan Văn Trường, Cầu Giấy, Hà Nội</span></a></li>
                    <li><a href="#"><span class="label">FB: facebook.com/ozo.tinchinhchu/</span></a></li>
                    <li><a href="#"><span class="label">CSKH 1: 0964.86.1221</span></a></li>
                    <li><a href="#"><span class="label">CSKH 2: 0964.96.1221</span></a></li>
                    <li><a href="#"><span class="label">CSKH 3: 0916.90.1221</span></a></li>
                    <li><a href="#"><span class="label">CSKH 4: 0917.90.1221</span></a></li>
                    <li><a href="#"><span class="label">CSKH 5: 0989.94.1221</span></a></li>
                    <li><a href="#"><span class="label">Hotline: 0982.66.77.00</span></a></li>

                </ul>
            </article>
        </div>

        <!-- Footer -->
        <footer id="footer">
            <p class="copyright">Copyright © 2017 OZO, All rights reserved . Hotline: 0982.66.77.00</p>
        </footer>

    </div>

    <!-- BG -->
    <div id="bg"></div>

    <!-- Scripts -->
    <script src="~/assets/landingPage/js/jquery.min.js"></script>
    <script src="~/assets/landingPage/js/skel.min.js"></script>
    <script src="~/assets/landingPage/js/util.js"></script>
    <script src="~/assets/landingPage/js/main.js"></script>

</body>
</html>

