<html>
<head>
    <title>Quên mật khẩu | Ozo</title>
    <meta name="keywords" />
    <link href="~/assets/PageNotFound/style.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
    <!--start-wrap--->
    <div class="wrap">
        <!---start-header---->
        <div class="header">
            <div class="logo">
                <h1><a href="#">Ozo</a></h1>
            </div>
        </div>
        <!---End-header---->
        <!--start-content------>
        <div class="content">
            <p style="font-family:Arial">Bạn vui lòng gọi tới số điện thoại đường dây nóng: @CMS.Helper.Information.HOT_PHONE_NUMBER để lấy lại mật khẩu</p>
            <p style="font-family:Arial">Lưu ý: Số điện thoại phải đúng với đăng ký tài khoản tại trang Ozo</p>
            <a href="@Url.Action("Login", "Account")" style="font-family:Arial">Quay trở lại trang đăng nhập</a>
            <div class="copy-right">
                <p>&#169 Ozo</p>
            </div>
        </div>
        <!--End-Cotent------>
    </div>
    <!--End-wrap--->
</body>
</html>