<html>
<head>
    <title>0hh 404 page not found | Ozo.vn</title>
    <meta name="keywords" />
    <link href="~/assets/PageNotFound/style.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
    <!--start-wrap--->
    <div class="wrap">
        <!---start-header---->
        <div class="header">
            <div class="logo">
                <h1><a href="#">Rất tiếc</a></h1>
            </div>
        </div>
        <!---End-header---->
        <!--start-content------>
        <div class="content">
            <img src="~/Image/PageNotFound/error-img.png" title="error" />
            <p><span><label>O</label>hh.....</span>Bạn không có quyền sử dụng chức năng này. vui lòng liên hệ admin để biết thêm chi tiết.</p>
            <a onclick="return theFunction();">Trở về trang trước</a>
            <div class="copy-right">
                <p>&#169 Ozo.vn</p>
            </div>
        </div>
        <!--End-Cotent------>
    </div>
    <!--End-wrap--->
</body>
</html>
<script type="text/javascript">
    function theFunction () {
        window.history.go(-1);
        return false;
    }
</script>